
    <header id="anclaarriba">
      <nav class="navbar navbar-fixed-top navbar_color" id='navbar' >
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button id="navbar-toggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <img style="max-width:20px; margin:0px;padding:0px;" src="/assets/img/burger_icon.png" alt="Bertotto">
          </button>
          <a id='logo' class="navbar-brand" href="index.html"><img src="/assets/img/logo_metalfor.png" alt="Bertotto Maquinarias agrícolas"></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" id="navbar-right">
            <li><a href="index.html">INICIO</a></li>
            <li><a href="empresa.html">EMPRESA</a></li>        
            <li><a href="equipos.html">EQUIPOS</a></li>
            <li><a href="#anclamapa">SERVICAP</a></li>
            <li><a href="#anclanovedades">NOVEDADES</a></li>
            <li><a href="contacto.html">CONTACTO</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    </header>
    <div class="banner_movil visible-xs">
        <div class="container">
           <div class="col-xs-12">
             <h1 class="caption_titlem">METALFOR</h1>
             <p class="caption_textm">
             </p>
              <a class="caption_btn_m" href="#"></a>
           </div>
        </div>
    </div> 
      <div class="slider-wrapper theme-mi-slider sombra visible-md visible-sm visible-lg" style="z-index:1">
        <div id="slider" class="nivoSlider">     
            <img src="/assets/img/slider/slider_1.jpg" alt="PULVERIZADORA 7040" title="#htmlcaption1" />
            <img src="/assets/img/slider/slider_2.jpg" alt="Fertilizadora" title="#htmlcaption2" /> 
            <img src="/assets/img/slider/slider_3.jpg" alt="rendimiento" title="#htmlcaption3" />      
        </div> 
        <div id="htmlcaption1" class="nivo-html-caption">     
         <div class="container">
           <div class="col-xs-6">
             <h1 class="caption_title1">PULVERIZADORA 7040</h1>
             <p class="caption_text">MAS PODER Y VERSATILIDAD, MEJOR DISEÑO</p>
             <div style="margin-top:20px"><a class="caption_btn" href="equipos.html">VER MÁS</a></div>
           </div>
         </div>
        </div>
        <div id="htmlcaption2" class="nivo-html-caption">     
            <div class="container">
              <div class="col-xs-6" style="padding:0px">
             <h1 class="caption_title1">FERTILIZA TUS SUELOS</h1>
             <p class="caption_text">POTENCIA TUS CULTIVOS</p>
             <div style="margin-top:20px"><a class="caption_btn" href="equipos.html">VER MÁS</a></div>
              </div>
            </div>
        </div>
        <div id="htmlcaption3" class="nivo-html-caption">     
            <div class="container">
              <div class="col-xs-6" style="padding:0px">
             <h1 class="caption_title1">CALIDAD E INNOVACIÓN</h1>
             <p class="caption_text">Para un mejor rendimiento</p>
             <div style="margin-top:20px"><a class="caption_btn" href="equipos.html">VER MÁS</a></div>
              </div>
            </div>
        </div>
      </div>
    
    <div class="article" id="anclaempresa">
      <div class="container">
        <h1 class="title1" >EL VALOR DE ESTAR CERCA</h1>
        <p align="center" style="font-size:22px;color:#555"><b>Metalfor®</b>, cuenta con la más amplia Red de Servicio y Atención al Cliente a nivel nacional, con Equipos de renovada Tecnología y Diseño, y el mejor Costo / Beneficio en Mantenimiento, Repuestos y Rentabilidad.</p>
        <div class="row" style="padding:40px 0px">
          <div class="col-xs-12 col-sm-6 col-md-3 item_nosotros" align="center">
              <img src="/assets/img/trayectoria.png" alt="Tecnología">
              <h3>Trayectoria</h3>
            <div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 item_nosotros" align="center">
              <img src="/assets/img/solidez.png" alt="Equipos">
              <h3>Solidez</h3>
            <div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 item_nosotros" align="center">
              <img src="/assets/img/calidad.png" alt="Mantenimiento">
              <h3>Calidad</h3>
            <div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 item_nosotros" align="center">
              <img src="/assets/img/cerca_tuyo.png" alt="Calidad">
              <h3>Cerca tuyo</h3>
            <div>
            </div>
          </div>
        </div>
          <div class="row">
            <a class="btn_borde2" href="empresa.html">CONOCENOS</a>
          </div>
      </div>
      <div id="anclaequipos">
        
      </div>
    </div>
    <div class="article" style="padding:0px" >
      <div class="container-fluid" style="padding:0px">
        <div class="col-md-4 crop">
          <div class="flotante">
            <img src="/assets/img/equipos_nuevos.png" alt="">
           <a href="equipos.html" style="text-decoration:none;"><h2>EQUIPOS NUEVOS</h2></a>
          </div>
          <img src="/assets/img/foto_equipos_nuevos.png" alt="EQUIPOS NUEVOS">      
        </div>
        <div class="col-md-4 crop">
          <div class="flotante">
            <img src="/assets/img/equipos_usados.png" alt="">
              <a href="equipos.html" style="text-decoration:none;"><h2>EQUIPOS USADOS</h2></a>
    </div>
          <img src="/assets/img/foto_equipos_usados.png" alt="EQUIPOS USADOS">       
        </div>
        <div class="col-md-4 crop">
          <div class="flotante">
            <img src="/assets/img/repuestos.png" alt="">
              <a href="equipos.html" style="text-decoration:none;"><h2>REPUESTOS</h2></a>
    </div>
          <img src="/assets/img/foto_repuesto.png" alt="REPUESTOS">
        </div>
      </div>
      <div id="anclamapa">
      
    </div>
    </div>
    
    
    <div class="mapa">
    <div class="container-fluid">
        <div class="col-xs-4 donde">
        <h2>¿DÓNDE ENCONTRARNOS?</h2>
        <a class="btn-verde" href="#">Buscar Servicap</a>
      </div>
    </div>
    </div>
    <div class="article" id="anclanovedades">
    <div class="container">
      <div class="owl-carousel owl-theme">
        <div class="owl-item">
          <div class="col-xs-12 col-sm-12 col-md-6">
                 <div class="crop_img_carousel">
                  <img src="/assets/img/1.jpg" alt="Título de la novedad">
               </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <h1 class="titulo_novedades">Título de la novedad</h1>
            <p style="margin-bottom:30px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio hic est tenetur soluta eius rem iure! Unde fugit provident eligendi officiis quae, modi, ea quis. Minus dolorem, sint atque aut!</p>
            <a href="#" class="btn-verde">Ver más</a>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-xs-12 col-sm-12 col-md-6">
                 <div class="crop_img_carousel">
                  <img src="/assets/img/1.jpg" alt="Título de la novedad">
               </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <h1 class="titulo_novedades">Título de la novedad</h1>
            <p style="margin-bottom:30px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio hic est tenetur soluta eius rem iure! Unde fugit provident eligendi officiis quae, modi, ea quis. Minus dolorem, sint atque aut!</p>
            <a href="#" class="btn-verde">Ver más</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <article class="article">
      <div class="container">
        <div class="col-xs-12">
          <div class="col-xs-12 col-sm-12 col-md-4 tarjeta thumbnail">
            <div class="img_tarjeta">
              <img src="/assets/img/evento_1.jpg" alt="Metalfor en ExpoActiva Nacional">
            </div>
            <div class="texto_tarjeta">
              <h3>Metalfor en ExpoActiva Nacional</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, provident aliquid error exercitationem nostrum maxime voluptas delectus debitis rerum, totam, earum quae pariatur blanditiis odio unde, laboriosam excepturi quia eligendi!</p>
              <a href="#" class="btn-verde">Ver Galería</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 tarjeta thumbnail">
            <div class="img_tarjeta">
              <img src="/assets/img/evento_1.jpg" alt=">Metalfor en Agroactiv">
            </div>
            <div class="texto_tarjeta">
              <h3>Metalfor en Agroactiva </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis placeat adipisci praesentium fugit atque id labore sunt doloremque. Libero culpa recusandae cum voluptas cupiditate quod hic, soluta temporibus molestias doloribus?</p>
              <a href="#" class="btn-verde">Ver Galería</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 tarjeta thumbnail">
            <div class="img_tarjeta">
              <img src="/assets/img/evento_1.jpg" alt=">Metalfor en Agroactiv">
            </div>
            <div class="texto_tarjeta">
              <h3>Metalfor en Agroactiva</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis delectus eligendi magnam sapiente perspiciatis, tenetur ad dolorum excepturi. Obcaecati minima delectus inventore omnis ratione labore. Tempora magni modi expedita inventore!</p>
              <a href="#" class="btn-verde">Ver Galería</a>
            </div>
          </div>
        </div>
      </div>
    </article>
    
    <article class="eventos_article">
      <div class="container">
        <div class="col-xs-12 eventos">
          <div class="col-xs-12 col-md-1 eventos_item_1">
            <h1>28</h1>
            <p>SEP</p>
          </div>
          <div class="col-xs-12 col-md-4 eventos_item_2">
            Evento nuevo 1
          </div>
          <div class="col-xs-12 col-md-4 eventos_item_3">
            28 al 31 de Septiembre
          </div>
          <div class="col-xs-12 col-md-3 eventos_item_4">
            Córdoba, Argentina
          </div>
        </div>
        <div class="col-xs-12 eventos">
          <div class="col-xs-12 col-md-1 eventos_item_1">
            <h1>28</h1>
            <p>OCT</p>
          </div>
          <div class="col-xs-12 col-md-4 eventos_item_2">
            Evento nuevo 2
          </div>
          <div class="col-xs-12 col-md-4 eventos_item_3">
            8 al 12 de Octubre
          </div>
          <div class="col-xs-12 col-md-3 eventos_item_4">
            Córdoba, Argentina
          </div>
        </div>
        <div class="col-xs-12 eventos">
          <div class="col-xs-12 col-md-1 eventos_item_1">
            <h1>28</h1>
            <p>SEP</p>
          </div>
          <div class="col-xs-12 col-md-4 eventos_item_2">
            Evento nuevo 3
          </div>
          <div class="col-xs-12 col-md-4 eventos_item_3">
            12 al 20 de Noviembre
          </div>
          <div class="col-xs-12 col-md-3 eventos_item_4">
            Córdoba, Argentina
          </div>
        </div>
      </div>
    </article>
    <div class="contactarnos">
    <div class="container">
      <div class="titulo_footer">
        <h1>Metalfor es desde hace 45 Años, una Marca Argentina, Líder en Maquinaria Agrícola.</h1>
        <a class="btn_borde" href="#">CONTACTANOS</a>
      </div>
    </div>
    </div>
    <div id="anclafooter">
      
    </div>
    <div class="footer"  >
      <div class="container">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <img src="/assets/img/logo_metalfor_1.png" alt="">
        </div>
        <div class="col-xs-12 col-sm-5 col-md-7">
           <div class="datos">
              <div class="col-xs-12" style="float:right">
                <div class="col-md-1">
                  <img class="display:block" src="/assets/img/icon_dir.png" alt="Marcos Juárez"> 
                </div>
                 <div class="col-md-8">
                  <p> Planta Marcos Juárez: Ruta Nacional Nº 9 Km. 443 - CP. 2580 - Marcos Juárez - Córdoba Argentina</p>
                 </div>
              </div>
              <div class="col-xs-12" style="float:right">
                <div class="col-md-1">
                  <img class="display:block" src="/assets/img/icon_phone.png" alt="Metalfor Tel"> 
                </div>
                 <div class="col-md-8">
                  <p style="margin-top:15px"> +54 (3472) 4225894</p>
                 </div>
              </div>
              <div class="col-xs-12" style="float:right">
                <div class="col-md-1">
                  <img class="display:block" src="/assets/img/icon_fax.png" alt="Metalfor Tel"> 
                </div>
                 <div class="col-md-8">
                  <p style="margin-top:15px"> 0 (3472) 426103</p>
                 </div>
              </div>
              <div class="col-xs-12" style="float:right">
                <div class="col-md-1">
                  <img class="display:block" src="/assets/img/icon_mail.png" alt="Metalfor Mail"> 
                </div>
                 <div class="col-md-8">
                  <p style="margin-top:15px"> info@metalforsa.com.ar</p>
                 </div>
              </div>
           </div>
        </div> 
    
        <div class="col-xs-12 col-sm-2 col-md-2">
          <ul class="nav_footer">
            <li><a href="index.html">INICIO</a></li>
            <li><a href="#">EMPRESA</a></li>        
            <li><a href="#">EQUIPOS</a></li>
            <li><a href="#">SERVICIOS</a></li>
            <li><a href="#">NOVEDADES</a></li>
            <li><a href="contacto.html">CONTACTO</a></li>
          </ul>
        </div>
    
    <div class="social_nav">
      <div class="container">
        <ul class="social_icon">
          <li><a href="https://www.facebook.com/Metalfor/" target="_blank"><img src="/assets/img/icon_fb.png" alt="Metalfor Facebook"></a></li>
          <li><a href="https://www.instagram.com/metalforsa/" target="_blank"><img src="/assets/img/icon_insta.png" alt="Metalfor Instagram"></a></li>
          <li><a href="https://twitter.com/MetalforSA" target="_blank"><img src="/assets/img/icon_tw.png" alt="Metalfor Twitter"></a></li>
          <li><a href="https://www.linkedin.com/company/metalfor-sa" target="_blank"><img src="/assets/img/icon_ty.png" alt="Metalfor Linked"></a></li>
        </ul>
      </div>
    </div>
      </div>
    </div>
    <a class="btn go-top" href="#anclaarriba"><span class="glyphicon glyphicon-menu-up"></span></a>
    <div class="copy">
      <div class="container">
        <p>© 2019 Metalfor. Todos los Derechos Reservados. All Rights Reserved - powered by <a href="http://www.estudiocweb.com">Estudio C Diseño y Web</a></p>
      </div>
    </div>
    <!-- <script>
    $(document).ready(function(){
     $("#cambia").click(function(){
     $("#gif").toggle(500);
     });
    });
    </script><script src="js/slider.js"></script>
        <script src="js/owl.carousel.min.js"></script>
    <script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        items:1,
        loop:true,
        margin:0,
        autoplay:true,
        autoplayHoverPause:true,
        autoplayTimeout:3000,
    responsiveClass:true,
    });</script>
    <script src="js/slider.js"></script>
    <script src="js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="js/dist/jquery.smoove.js"></script>
    <script>
    $('.block').smoove({offset:'100%'});
    $(".foo").smoove({moveY : '100px'});
    $(".fo").smoove({moveX : '100px'});
    </script>
    </script>
    <script>$(document).ready(function(){
     
      $(window).scroll(function(){
        if( $(this).scrollTop() > 0 ){
          $('#logo').addClass('navbar-brand2');
          $('#navbar').addClass('navbar2');
          $('#navbar-right').addClass('navbar-right2');
          $('#navbar-toggle').addClass('navbar-toggle2');
        } else {
          $('#logo').removeClass('navbar-brand2');
          $('#navbar').removeClass('navbar2');
          $('#navbar-toggle').removeClass('navbar-toggle2');
          $('#navbar-right').removeClass('navbar-right2');
        }
      });
    });</script>
    -->
