<div class="container">
  <h3>{{title}} Usuario</h3>
  <hr />
  <form [formGroup]="registerForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

    <input type="hidden" id="descripcion" formControlName="id">

    <div class="form-group">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
      <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
        <div *ngIf="f.nombre.errors.required">*</div>
      </div>
    </div>



    <div class="form-group">
      <label>Email</label>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">*</div>
      </div>
    </div>

    <div class="form-group">
      <label>Télefono</label>
      <input type="text" formControlName="telefono" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" />
      <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
        <div *ngIf="f.telefono.errors.required">*</div>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">*</div>
      </div>
    </div>

    <div class="form-group">
      <label>Rol</label>
      <select class="form-control" formControlName="rolId">
        <option *ngFor="let rol of roles" value={{rol.id}}>
          {{rol.nombre}}
        </option>
      </select>
    </div>

   

    <div *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div  class="form-group">
      <button type="submit" class="btn btn-outline-primary">Guardar</button>
      <button class="btn btn-outline-primary" (click)="cancel()">Cancelar</button>
    </div>

  </form>
</div>
