body{
	font-family: 'Roboto', sans-serif!important;
  background-color: #F7F6F9!important;
  color: #666;
  font-size: 16px!important;
}
.google-maps {
position: relative;
padding-bottom: 63%; // This is the aspect ratio
height: 0;
overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
}
.copy{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0px;
  font-size: 12px
}
.copy a{
  font-weight: 700;
  text-decoration: none;
}
.copy a:hover{
  color: #EF7336;
  text-decoration: none;
}

.article{
  position: relative!important;
	padding: 60px 0px;
}

.footer {
  padding-top: 80px;
  padding-bottom: 50px;
  margin: 0;
  background-color: #343a40 !important;
  color: white;
}
.titulo_footer{
  padding: 40px 0px;
}
.titulo_footer h1{
 font-weight: 700;
 text-align: center;
}
.form_contacto{
  width: 60%;
  display: block;
  margin:0 auto;
}
a{
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
a:hover{
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
a:after{
  color: #fff;
  text-decoration: none;
}
a:visited{
  color: #fff;
  text-decoration: none;
}


:hover{
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

hr {
    margin-top: 10px!important;
    margin-bottom: 7px!important;
    border: 0;
    border-top: 3px solid #aaa!important;
}
header{
	z-index: 200;
	position: relative;
}

.slider{
  position: relative;
    z-index: 10;
}
.nav > li > a {
  color: #fff;
    font-size: 15px!important;
    padding: 10px!important;
    margin: 1px!important;
    font-weight: 700;
}
.nav > li > a:hover {
    background-color:#35882C!important;
    border-radius: 2px;
    text-shadow:none!important;
    color: #fff!important;
}
.navbar{
  height: 110px!important;
background-color:rgba(255,255,255,0)!important;
border: none!important;
margin-bottom: 0px!important
   -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
}
.navbar2{
  height: 70px!important;
background-color:rgb(53, 136, 44,0.8)!important;
border: none!important;
margin-bottom: 0px!important
   -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
-webkit-box-shadow: 0px 10px 14px -10px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 10px 14px -10px rgba(0,0,0,0.2);
box-shadow: 0px 10px 14px -10px rgba(0,0,0,0.2);
}
.navbar-brand{
height: auto!important;
position: absolute;
top: 14px;
padding: 0px!important;
margin: 0px!important
}
.navbar-brand2{
height: auto!important;
position: absolute;
top: 10px;
padding: 0px!important;
margin: 0px!important
}
.navbar-brand img{
padding: 0px!important;
margin: 0px!important;
max-width: 150px;
   -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
}
.navbar-brand2 img{
padding: 0px!important;
margin: 0px!important;
max-width: 80px;
   -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
}
.sombra{
  position: relative!important;
  display: block;
  -webkit-box-shadow: 10px 8px 11px -7px rgba(0,0,0,0.4);
-moz-box-shadow: 10px 8px 11px -7px rgba(0,0,0,0.4);
box-shadow: 10px 8px 11px -7px rgba(0,0,0,0.4);
}
.navbar-brand img{
  width: 300px;
  padding: 15px
}
.navbar-right{
    margin-top: 33px!important;
   -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
}
.navbar-right2{
    margin-top: 13px!important;
   -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
}
 .go-top {
  z-index: 1;
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: #fff;
  background-color: rgba(34, 34, 34, 0.3);
  font-size: 12px;
  padding: 0,5em;
  display: none;
}
 
.go-top:hover {
  background-color: rgba(54, 54, 54, 0.2);
   -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
}
.banner{
  padding-top: 180px;
  padding-bottom: 80px;
  text-align: center;
  color: #fff;
}
.banner h2{
   font-weight: 700;
}
.lista{
  list-style:none;
}
.lista_botones{
  float: right;
}
.lista_botones li{
  display: inline-block;
}
.lista_botones_left {
    float: left;
    display: flex;
    padding: 0px;
    list-style-type:none;
}
.lista_botones_left li{
  margin-right: 5px
}
.btn-azul{
  color: #fff;
  background-color:#35882C;
  margin-top: 10px;
  z-index: 100px;
  position: relative;
}
.btn-azul:hover{
  color: #fff!important;
  background-color:#35882C;
}
.btn-gris{
  color: #fff;
  background-color:#b4b4b4;
  margin-top: 10px;
  z-index: 100px;
  position: relative;
}
.btn-gris:hover{
  color: #fff!important;
  background-color:#35882C;
}
.galeria{
  margin-top: 25px;
  display: inline-block;
}
.galeria li{
  margin-right: 5px;
  display: inline-block;
}
.galeria li a>img{
  width: auto;
  max-height: 100px;
}
.titulo{
  color: #35882C;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif!important; 
}
.titulo2{
  text-align: center;
  font-size: 20px;
  color: #35882C;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif!important; 
}
.banner_contacto{
  background: url(../img/banner/banner_contacto.jpg) center no-repeat;
  background-size: cover; 
  filter: grayscale(50%);
}
.equipos{
  padding: 80px 0px;
}
.banner_equipos{
  background: url(../img/banner/banner_equipos.jpg) center no-repeat;
  background-size: cover; 
  filter: grayscale(50%);
}
.banner_empresa{
  background: url(../img/banner/banner_empresa.jpg) center no-repeat;
  background-size: cover; 
  filter: grayscale(50%);
}
.banner_movil{
  height: 650px;
  padding: 180px 0px 40px 0px;
  position: relative;
  color: #fff;
  background: url(../img/banner/fondo_m.png) center no-repeat;
  background-size: cover;
}
.container-parrafo{
  padding: 5%;
  position: relative;
}
.parrafo{
  font-weight: bolder;
  font-size: 20px;
  color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin-top:5%!important;
  margin: auto;
}
.empresa_item{
  margin: 30px 0px
}
.caption_titlem{
 text-align: center;
 font-weight: 700;
 font-size: 40px
}
.caption_textm{
 text-align: center;
 font-size: 20px;
}
.suscribirse a{
  color: #fff!important;
  background-color: #ED3237!important;
}
.suscribirse a:hover{
  color: #fff!important;
  border-radius: 4px;
}
.crop {
position: relative;
width: 100%;
height: 500px;
overflow: hidden;
margin:0px!important;
padding: 0px!important;
cursor: pointer;
}
.crop img {
height: auto;
width: cover;
object-fit: contain;
filter: grayscale(100%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.crop img:hover {
filter: grayscale(0%)
}
.flotante{

  z-index: 20;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

}
.crop_producto {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.crop_producto img {
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    margin: auto;
    height: auto;
    width: 100%;
}
.crop_empresa {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.crop_empresa img {
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    margin: auto;
    height: 100%;
    width: auto;
}
.item_producto {
    padding: 15px;
    background-color: rgba(255,255,255);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: #F7F6F9 solid 3px;
    min-height: 360px!important;
}
.item_producto:hover {
   transform: translateY(-10px);
-webkit-box-shadow: 21px 18px 34px -8px rgba(0,0,0,0.19);
-moz-box-shadow: 21px 18px 34px -8px rgba(0,0,0,0.19);
box-shadow: 21px 18px 34px -8px rgba(0,0,0,0.19);
}
.item_producto h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #35882C;
}
.item_producto p {
    text-align: center;
    font-weight: bold;
}
.btn-producto {
    background-color: #35882C;
    color: #fff;
    display: block;
    width: 83%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    bottom: 10px;
    position: absolute;
    left: -100px;
    right: -100px;
    margin: 0 auto;
}
.btn-producto:hover {
    background-color: #46B839!important;
    color: #fff!important;
}
.flotante img{
max-width: 130px;
display: block;
margin: 0 auto
}
.flotante h2{
text-align: center;
color: #fff;
font-size: 45px;
margin: 0;
}

.crop_img_carousel {
position: relative;
width: 100%;
height: 400px;
overflow: hidden;
margin:0px!important;
padding: 0px!important;
cursor: pointer;
}
.crop_img_carousel img {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}



.social_icon img{
  max-width: 30px;
  margin-left: 5px!important;
  -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
opacity:0.8;
display: inline-block;
margin: 0 auto
}
.social_icon img:hover{
  opacity: 1
}
.contacto_form{
  margin-top: 10px;
}
.form2{
  width: 49.65%!important;
}

.section{
  position: relative;
  padding: 150px 0px;
}


.social_icon {
    list-style: none;
    display: table;
    margin: 0 auto;
}
.social_icon li{
  display: inline;
}
.hover_img{
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.hover_img:hover{
  opacity: 1;
  -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.navbar-toggle {
    background-color: #3D61AB!important;
        padding: 4px 7px!important;
        margin-top: 23px!important;
  -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.navbar-toggle2 {
    background-color: #3D61AB!important;
        padding: 4px 7px!important;
        margin-top: 15px!important;
  -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.niv
.nivo-directionNav a {
    top: 55%!important;
}
.caption_title1{
  font-size: 60px;
  font-weight:700;
  text-shadow: 9px 5px 9px rgba(2,2,2,0.2)!important;
}
.caption_text{
 font-size: 22px;
text-shadow: 9px 5px 9px rgba(8,36,2,0.2)!important;
}
.caption_btn{
  font-size: 20px;
  font-weight: 700;
  padding: 5px 30px;
  color: #fff;
  background-color: #35882C;
}
.caption_btn:hover{
  color: #fff;
  background-color: #2A6B23;
  text-decoration: none;
}
.nivo-caption p {
    width: 500px!important;
}
.title1{
  color: #35882C;
  font-weight: 700;
  text-align: center;
}
.title2{
  color: #fff;
  font-weight: 700;
  text-align: center;
}
.btn-verde{
  font-size: 17px;
  font-weight: 700;
  padding: 5px 30px;
  color: #fff;
  background-color: #35882C;
}
.btn-verde:hover{
  color: #fff;
  background-color: #2A6B23;
  text-decoration: none;
}
.btn_borde{
  font-size: 22px;
  font-weight: 700;
  padding: 15px 30px;
  color: #fff;
  background-color: transparent;
  border: solid 2px #fff;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 250px;
  margin-top: 20px
}
.btn_borde:hover{
  color: #35882C;
  background-color: #fff;
  border: solid 2px #fff;
  text-decoration: none;
}
.btn_borde2{
  font-size: 18px;
  font-weight: 700;
  padding: 12px 30px;
  color: #35882C!important;
  background-color: transparent;
  border: solid 2px #35882C;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 250px;
  margin-top: 20px
}
.btn_borde2:hover{
  color: #fff!important;
  background-color: #35882C;
  border: solid 2px #35882C;
  text-decoration: none;
}
.titulo_novedades{
  color: #35882C;
  font-weight: 700;
  margin-bottom: 30px
}
.nosotros{
  position: relative;
  background-color: #fff;
   background: url(../img/banner/fondo_3.png) center no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed; 
}
.comunidades{
  color: #fff;
  text-align: center;
background: rgba(61,98,171,1);
background: -moz-linear-gradient(left, rgba(61,98,171,1) 0%, rgba(61,98,171,1) 32%, rgba(61,68,152,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(61,98,171,1)), color-stop(32%, rgba(61,98,171,1)), color-stop(100%, rgba(61,68,152,1)));
background: -webkit-linear-gradient(left, rgba(61,98,171,1) 0%, rgba(61,98,171,1) 32%, rgba(61,68,152,1) 100%);
background: -o-linear-gradient(left, rgba(61,98,171,1) 0%, rgba(61,98,171,1) 32%, rgba(61,68,152,1) 100%);
background: -ms-linear-gradient(left, rgba(61,98,171,1) 0%, rgba(61,98,171,1) 32%, rgba(61,68,152,1) 100%);
background: linear-gradient(to right, rgba(61,98,171,1) 0%, rgba(61,98,171,1) 32%, rgba(61,68,152,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d62ab', endColorstr='#3d4498', GradientType=1 );
}
.titulo_comunidad{
 margin-bottom: 30px
}
.titulo_comunidad img{
 width: 200px!important;
}
.colaboradores{
  position: relative;
  background-color: #fff;
   background: url(../img/banner/fondo_4.png) center no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed; 
}

.links_comunidades{
  padding: 60px 0px;
}

.img-slider-logo{
  display: block;
  margin:0 auto;
  width: 440px;
  float: right;
}
.list{
  list-style:none;
  padding-left: 0px;
}
.list li{
 padding: 10px 0px;
 display:  -webkit-inline-box;
}
.list li>img{
 margin-right:5px 
}
.theme-mi-slider .nivoSlider a {
    top: 56%;
}
.centrar{
  text-align: center;
  display: block;
  margin: 0 auto;
}
.linea{
 width: auto!important;
}
.center{
  float: none!important;
  display: inline-block!important;
}
.item_nosotros h3{
  text-align: center;
  color: #35882C;
  font-weight: 700;
}
.contactarnos{
  background: url(../img/banner/fondo_footer.png) no-repeat;
  background.size:cover;
  padding: 120px;
  color: #fff
}
.nav_footer{
  list-style: none;
}
.nav_footer li{
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0px;
}
.nav_footer li a{
  color: #35882C;
  text-decoration: none;
}
.nav_footer li a:hover{
  color: #276221;
  text-decoration: none;
}
.servicio_destacado{
 margin:0;
 display: relative;
 height: 400px;
 color: #fff;
}
.mapa{
  background: url(../img/mapa.png) no-repeat center;
  background.size:cover;
  padding: 180px 0px;
  color: #fff;
}
.donde{
  background-color: #26215D;
  color: #fff;
  text-align: center;
  padding: 40px;
-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.19);
box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.19);
}
.eventos_article{
  background-color: #fff;
  padding: 50px 0px
}
.eventos{
padding: 15px;
margin: 6px 0px;
}
.eventos_item_1{
 background-color: #35882C;
 text-align: center;
 color:#fff;
 font-weight: bold;
 height: 100px
}
.eventos_item_2{
border-right: solid 3px #26215D !important;
text-align: center;
height: 100px;
font-weight: bold;
color: #333;
line-height: 100px
}
.eventos_item_3{
border-right: solid 3px #26215D !important;
text-align: center;
height: 100px;
font-weight: bold;
color: #333;
line-height: 100px

}
.eventos_item_4{
border-right: solid 3px #26215D !important;
text-align: center;
height: 100px;
font-weight: bold;
color: #333;
line-height: 100px
}

.tarjeta{
  background-color: #fff;
  border-radius: 12px;
  text-align: center;
  padding: 0px 0px 20px 0px!important;
  min-height: 500px;
}
.img_tarjeta{
  padding: 0;
  overflow: hidden;
  border-radius: 12px 12px 0px 0px;
  border:solid 4px #f7f6f9;
}
.img_tarjeta img{
  width: 100%;
  display: block;
  margin:0 auto;
}
.texto_tarjeta{
  padding: 2%;
}

/*/-------------------------responsive------------------------------/*/

/*/------------------responsive------------------------------/*/
@media only screen and (max-width: 992px){
.nav > li > a {
    position: relative;
    display: block;
    padding: 8px 8px!important;
    font-size: 14px!important;
}
.navbar-right {
    margin-top: 13px;
}
.navbar-brand img {
    padding: 0px!important;
    width: 120px;
    margin-top: 0px!important;
}
.navbar{
   margin: 0px!important
}
.navbar{
  height: 60px!important
}
.caption_title1{
  font-size: 30px;
  font-weight:700
}
.caption_text{
 text-align: left;
 font-size: 18px!important;
}
.nivo-caption p {
    width: 350px!important;
}
.img-slider-logo{
  display: block;
  margin:0 auto;
  width: 250px
}

@media only screen and (max-width: 980px){
.titulo_comunidad img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

nav>.container{
  width: 97%!important;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 8px 8px!important;
    font-size: 14px!important;
}
.navbar-right {
    margin-top: 13px;
}
.navbar-brand img {
    padding: 0px!important;
    width: 120px;
    margin-top: 0px!important;
}
.navbar{
   margin: 0px!important
}
.navbar{
  height: 60px!important
}
}
@media only screen and (max-width: 789px){
.titulo_comunidad img {
    width: 200px;
    display: block;
    margin: 0 auto;
}
  .links_comunidades{
  padding: 20px 0px;
}
.navbar-collapse {
    padding-right: 25px!important;
    padding-left: 50px!important;
    float: right!important;
    margin-top: 17px;
}
.nav > li > a {
    font-size: 10px!important;
    text-align: right;
    padding: 5px!important;
}
.navbar{
   margin: 0px!important
}
.navbar-default {
    height: 88px
}

.navbar-right {
    margin-top: 4%!important;
}

.navbar-brand img {
    padding: 0px;
    width: 157px;
    margin-top: 2px;
    margin-left: 15px!important
}
.propiedades {
    padding: 40px 0px;
    background-color: #fff;
    position: relative;
}
}
@media only screen and (max-width: 768px){
.titulo_comunidad img {
    width: 200px;
    display: block;
    margin: 0 auto;
}
.caption_btn_m{
 width: 43%;
}
.article{
  padding: 80px 15px;
}
.form2 {
    width: 100%!important;
} 
.texto_footer{
  line-height:inherit;
}
.navbar {
    height: 80px!important;
    background-color: rgba(255,255,255,0.8)!important;
}
.navbar-default .navbar-toggle {
    border-color: #ddd0!important;
}
.navbar-default .navbar-toggle:hover {
    border-color: #ddd0!important;
    background-color:#830900!important
}
.navbar-default .navbar-toggle:focus{
      border-color: #ddd0!important;
    background-color:#830900!important

}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff!important;
}
}


@media only screen and (max-width: 480px){
.titulo_comunidad img {
    width: 200px;
    display: block;
    margin: 0 auto;
}
footer{
  background: url(../img/banner/fondo_5.png) right no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0;
  color: #fff;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    text-align: center;
    background: #3c9dd7;
}
  .nav > li > a {
    font-size: 14px!important;
    color: #fff;
    text-align: right;
    padding: 5px!important;
}
.boton-rojo img {
    max-width: 48px;
}
.boton-rojo h3 {
    font-size: 17px;
    line-height: 1px;
    font-weight: 700;
}

.navbar2{
  height: 60px!important;
}
.navbar-brand2 img{
padding: 0px!important;
margin: 0px!important;
max-width: 80px;
   -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
}

.form2{
  width: 100%!important;
}
.navbar-brand {
    float: left;
    padding:0;
}
.navbar-default {
    height: 50px !important;
    border: none !important;
    margin: 0px!important;
}

.navbar-default .navbar-toggle {
    border-color: #ddd0!important;
}
.navbar-default .navbar-toggle:hover {
    border-color: #ddd0!important;
    background-color:#830900!important
}
.navbar-default .navbar-toggle:focus{
      border-color: #ddd0!important;
    background-color:#830900!important

}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff!important;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    text-align: center;
    background: #3c9dd7;
}
.google-maps {
position: relative;
padding-bottom: 64%; // This is the aspect ratio
height: 0;
overflow: hidden;
}
}
@media only screen and (max-width: 375px){
}
