*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*==========================*/

.theme-mi-slider .nivoSlider{
	position:relative;
}

.theme-mi-slider .nivoSlider a {
	border:0;
	display:block;
}

/* Nivo Pagination =========================*/

.nivo-controlNav{
    display: none;
    justify-content: center;
    position: absolute;
    bottom: 29px;
    z-index: 10000;
    margin: 0 auto;
    left: -100px;
    right: -100px;
}

.theme-mi-slider .nivo-control{
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #fff;
	margin: 3px;
	text-indent: -9999px
}

.theme-mi-slider .nivo-control:hover{
	background: #CEE8D7;
}

.theme-mi-slider .active{
	background: #9BD3B0;
}

/* Nivo direction ============*/
.nivo-directionNav a{
	display: block;
	width: 30px;
	height: 30px;
}

.nivo-directionNav .nivo-prevNav{
	background-image: url(../img/circle-left.png);
	background-size: cover;
	text-indent: -9999px;
	left: 5%;
}

.nivo-directionNav .nivo-nextNav{
	background-image: url(../img/circle-right.png);
	background-size: cover;
	text-indent: -9999px;
	right: 5%;
}


/*Nivo Caption*/

.nivo-html-caption{
	position: absolute;
}