<div class="container">
  <div class="row">
    <div class="col">
      <h3>Empresas</h3>
    </div>
    <div class="col text-right">
      <button [routerLink]="'/empresa/nuevo'" type="button" name="button" class="btn btn-secondary">Nuevo</button>
    </div>
  </div>

  <hr />

  <div class="form-group row">
    <div class="col-md-6">
      <input class="form-control" type="text" placeholder='Buscar' (keyup)='updateFilter($event)'>
    </div>
    <div class="col-md-6 text-right">
      <button (click)="exportAsXLSX()" type="button" name="button" class="btn btn-secondary">Descargar</button>
    </div>
  </div>

  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <ngx-datatable *ngIf="!loading" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [limit]="10" [rowHeight]="'auto'">

    <ngx-datatable-column name="Firma">
      <ng-template let-column="column" ngx-datatable-header-template>Firma</ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Email">
      <ng-template let-column="column" ngx-datatable-header-template>Email</ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Telefono">
      <ng-template let-column="column" ngx-datatable-header-template>Télefono</ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Cuit">
      <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Id">
      <ng-template let-column="column" ngx-datatable-header-template></ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <button [routerLink]="['/empresa', value]" type="button" name="button" class="btn btn-outline-success btn-sm">Editar</button>
        <button [routerLink]="" (click)="delete(value)" type="button" name="button" class="btn btn-outline-danger btn-sm">Eliminar</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
