/* base */

/* clearfix */


/* text from database */

.html_text{
	width:50%;

	padding-top:40px;
	font-size: 13px;
	font-family: Verdana, sans-serif;
	color: #707070;
	line-height: 17px;
	float:right;
	margin-bottom:40px;
}

.all_noti .html_text{
	width:50%;
	min-height:400px;
	padding-top:40px;
	font-size: 13px;
	font-family: Verdana, sans-serif;
	color: #707070;
	line-height: 17px;
	float:right;
	margin-bottom:40px;
}

.html_text table td{
	border: 1px solid #ccc;
	padding: .3em;
}

.html_text ul, .html_text ol, .html_text p, .html_text table{
	margin-bottom: 1em;
}

.html_text ul, .html_text ul li{
    list-style-type: disc;
}

.html_text ol, .html_text ol li{
    list-style-type: decimal;
}

.html_text li{
    margin-left: 2em;
}

.html_text strong, .html_text b, .html_text td strong, .html_text td b {
	font-weight: bold;
}
.html_text em{
	font-style:italic;
}

.html_text a{
	text-decoration: underline;
}

/* flash messages */

.flash {
	padding: .8em;
	padding-left: 28px;
	margin: 1em 0;
	border: 2px solid #ddd;
	background: 6px center no-repeat;
	font-weight: bold;
}
.flash_error {
	background-color: #FBE3E4;
	background-image: url(img/dialog-error.png);
	color:#8a1f11;
	border-color:#FBC2C4;
}
.flash_notice {
	background-color: #FFF6BF;
	background-image: url(img/dialog-warning.png);
	color: #514721;
	border-color: #FFD324;
}
.flash_success {
	background-color: #E6EFC2;
	background-image: url(img/emblem-default.png);
	color: #264409;
	border-color: #C6D880;
}

/* IE6 notice */
.ie6 {
	background: #D22521;
	text-align: center;
	height: 30px;
}

.ie6 div{
	color: #fff;
	font-size: 14px;
	width: 960px;
	padding-top: 4px;
}

.ie6 p{
	font-weight: bold;
	display: inline;
}

.ie6 ul{
 	display: inline;
}

.ie6 li{
	margin-left: 5px;
	font-size: 12px;
	display: inline;
}

.ie6 a{
	color: #fff;
}

.ie6 a:hover{
	text-decoration: none;
}

/* pagination */
div.pagination {
	border:0px dashed green;
	float: right;
	width: 700px;
	margin-bottom: 25px;
}
div.pagination span{
	display: block;
	float: left;
}
div.pagination a, div.pagination span.current{
	width: 23px;
	height: 22px;
	display: block;
	float: left;
	text-align: center;
	margin: 0 2px;
	font-size: 12px;
	font-family: arial;
	font-weight: normal;
	color: #757E82;
	border: 1px solid #D7D7D7;
	padding: 6px 0 0 0;
	text-decoration: none;
}
div.pagination span.current{
	border: 1px solid #D7D7D7;
	color: #000;
}
div.pagination a:hover{
	background: #FF6600;
	color: #fff;
}
div.pagination span.next, div.pagination span.prev{
	display: block;
	border:0;
}
div.pagination span.prev a,
div.pagination span.next a{
	border:0;
	margin:0;
	padding:0;
	background:none;
}
div.pagination span.next{
	margin-left: 11px;
	border: 0px solid red;
	display: block;	
	width: 30px;
	height: 37px;	
} 
div.pagination span.prev{
	margin-right: 11px;
	border: 0px solid red;
	display: block;	
	width: 30px;
	height: 37px;
}


/* contact form */
.contact{
	margin-left: 100px;
}
.contact form fieldset legend {
	display: none;
}
.contact form div {
	padding: .5em;
	vertical-align: text-top;
}
.contact form .required label:after {
	display:inline;
}
.contact form label {
	display: block;
	margin-bottom: .2em;
	font-size: 12px;
	
	
}
.contact form input, .contact form textarea{
	font-size: 1.1em;
	clear: both;
	padding: .25em;
	width: 90%;
	font-family: inherit;
}
.contact form textarea{
	height: 6em;
	overflow: auto;
}
.contact form .submit input {
	width: 87px;
	height: 37px;
	background: url('img/enviar.jpg') no-repeat;
	border:0;
	float:left;
	margin-left: -15px;
	margin-bottom:30px;
	font-family: "Lato",serif;
	color:#fff;

}

.contact form input, .contact form textarea{
	border: 1px solid #ccc;
	font-size: 1.1em;
	background-color:#EDEDED;
}
.contact form .submit input {
	background-color: #0492D4;
	font-weight: bold;
	padding: 4px 8px;
	border-color: 1px solid #D9D9D9;
}
.contact form input:focus, .contact form textarea:focus{
	background-color: #ddd;
 /*border-color: #0492D4;*/
}
.contacto_izq{
	width:320px;
	float: left;
}
.contacto_der{
	width:320px;
	float: right;
}
.contact form .required{
	background: url('img/campo_obligatorio.gif') 300px 30px no-repeat;
	border:0px solid red;
}
#datos_obli{
	color:#DC2402;
	padding-bottom:5px;
}
.error-message{
	color:#DC2600;
}
#container {
    min-height: 100%;
    position: relative;
	background: url(../img/guarda.jpg) repeat-x;

}
#container-g {
    min-height: 100%;
    position: relative;
	background: url(../img/guarda_s.jpg) repeat-x scroll 45% 0%;

}


/* distribuidores */
#index_distri{
	width:900px;
	margin:0 auto;
	}
#index_distri > h1, #institucional > h1, #container-g > div > div.pedido > h1, #container-g > div > div.contact > h1,#container-g > div > div.contact > h1, .servicios_textos > h1  {
	font-family: "Lato", Verdana, sans-serif;
	font-size: 18px;
	color: #2c2c2c;
	padding-top: 10px;
	text-transform: uppercase;
	border-bottom: 1px solid #0a4195;
	padding-bottom: 10px;
	}
#index_distri > div > p{
	font-family: "Lato", Verdana, sans-serif;
	font-size:14px;
	color:#2c2c2c;
	line-height:22px;
	}

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap, 
.ch-info{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
}

.ch-info-wrap {
	top: 20px;
	left: 20px;
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
	
}

.ch-info {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-front {
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	
	z-index: 100;
	box-shadow: 
		inset 2px 1px 4px rgba(0,0,0,0.1);
	font-family: "Quattrocento",serif;
	font-size:36px;

}

.ch-info .ch-info-front > p{
	font-family: "Quattrocento",serif;
	font-size: 186px;
	opacity: 0.8;
	height: 40px;
	margin: -60px 0 0 0;

}


.ch-info .ch-info-back {
	background: rgba(13,171,211,0);
}

.ch-img-1 { 
	background-image: url(../img/16.jpg);
}

.ch-img-2 { 
	background-image: url(../img/17.jpg);
}

.ch-img-3 { 
	background-image: url(../img/18.jpg);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	margin: 0 25px;
	padding: 45px 0 0 0;S
	height: 90px;
	font-family: "Quattrocento",serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	margin: 0 30px;
	font-size: 13px;
	border-top: 1px solid rgba(255,255,255,0.5);
	letter-spacing: 1px;

}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: "Quattrocento",serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}


.ch-item:hover .ch-info-front {
	-webkit-transform: rotate3d(1,0,0,-180deg);
	-moz-transform: rotate3d(1,0,0,-180deg);
	-o-transform: rotate3d(1,0,0,-180deg);
	-ms-transform: rotate3d(1,0,0,-180deg);
	transform: rotate3d(1,0,0,-180deg);
	
	box-shadow: 
		inset 0 0 5px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(0,0,0,0.3);
}

.ch-item:hover .ch-info-back {
	background: rgba(13,171,211,0.6);
}
/* MENU PRODUCTOS */
#topnav{
	width: 275px;
	float: left;
	margin: 0;
	padding: 0;
}
#topnav > li {list-style:none;}
#topnav ul li, #topnav li:last-child{border:none}	
#topnav > li > ul > li > a{
	display:block;
	color:#565656;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	padding:3px 5px;
	background:url(../img/+topnav_sub.jpg) right 45% no-repeat;
	width:270px;
}
#topnav > li > ul > li > ul > li > a, #topnav > li > ul > li > ul > li > ul > li > a {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color:#565656;
	height: 20px;
}
#topnav > li > ul > li > a:hover{
	color: #3CF;
	}
#topnav a.selected{
	color: #3CF;
}

#topnav > li > a{
	width: 100%;
	height: 40px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 14px;
	background: url(../img/+topnav.jpg) right no-repeat #0a4195;
	/*border-bottom: 2px solid #cdcdcd;*/
	padding: 11px 65px 10px 20px;
	text-transform: uppercase;
	text-decoration:none;
	display:block;
	}

#topnav a:hover{
	color:#0CF;
	-webkit-transition: color 0.2s linear;
}
#topnav ul a,  #topnav > li > ul > li:nth-child(2) > ul > li > a{	background-color:#FFF; color:#565656;}

#topnav ul a:hover, #topnav > li > ul > li:nth-child/(2) > ul > li > a{
	background-color:#FFF;
	color:#0a4195;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
}

#topnav ul a:hover {
	color:#0a4195;
	}

#topnav > li > ul{
	display:none;
	margin:5px 0 10px 0;
	padding:0;
	width:230px;
	list-style:none;
	}
#topnav ul{ border: 1px solid #cdcdcd;}
#topnav li ul {display:none; border:none;}


/*PRODUCTOS */
.productos {
	width: 940px;
	margin: 22px auto;
}

.product_index.clearfix {
	width: 640px;
	float: left;
	margin-top: -40px;
	margin-left: 20px;
}

.product_index.clearfix > h3, #product_view > h1, #product_view > div.html_text.prod_detail > h3{
	font-family: "Lato", Verdana, sans-serif;
	font-size: 18px;
	color: #2c2c2c;
	padding-top: 18px;
	text-transform: uppercase;
	border-bottom: 1px solid #0a4195;
	padding-bottom: 10px;
	width:642px;
	}

.product_index.clearfix > div.product_item{
	width: 298px;
	height: 298px;
	float: left;
	margin: 0 20px 15px 0;
	border: 1px solid #cdcdcd;
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(244,244,244,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=1 );
	}
	
div.product_item > div.imagen_prod > table > tbody > tr > td > a > img{
	border:0;
	display:block;
	padding:30px 0 0 0;
	margin: auto;
	height:195px;
	
	transition:all 1s;
	-webkit-transition:all 1s;
	-ms-transition:all 1s;
	-moz-transition:all 1s;
	
	filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	}
	
div.product_item > div.imagen_prod > table > tbody > tr > td > a > img:hover{
	filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.productos > div.product_index.clearfix > div.product_item > a.prod_nombre {
	width: 192px;
	float: left;
	font-family: "Lato", Verdana, sans-serif;
	/*font-family: 'Rosario', sans-serif;*/
	font-size:13px;
	color:#353535;
	text-transform:uppercase;
	margin: 35px 15px 0 15px;
	line-height:18px;
}

.productos > div.product_index.clearfix > div.product_item > a.prod_nombre:hover {
	color:#0a4195;
}

div#product_view {
	width: 640px;
	float: left;
	margin-left: 20px;
	margin-top: -35px;
	margin-bottom: 50px;
}
#container-g > div > div.productos > div.product_index.clearfix > div > div.mas_info > a{
	margin-top: 39px;
	}

div.product_item > div.mas_info > a{
	width: 65px;
	height: 29px;
	/*background: #0a4195;*/
	background:url(../img/buttonBack.png);
	float: left;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 5px 5px 0 5px;
	margin-top: 50px;
	text-align: right;
	padding-right:9px !important;
	
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	}
	
div.product_item > div.mas_info > a:hover{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);	
}
	
.all_noti .gallery {
	width:420px;
	min-height:100px;
	padding-left:0;
	margin-bottom:40px !important;
	float:left;
	}
#_product_gallery > ul > li{ list-style:none;}	
#_product_gallery > ul > li > a > img {
	float: left;
	width: 122px;
	height: 86px;
	margin: 0 0 15px 12px;
	padding: 6px;
	border: 1px solid #cdcdcd;
	background:#f8f8f8;
	
	transition:all 0.7s;
	-o-transition:all 0.7s;
	-moz-transition:all 0.7s;
	-webkit-transition:all 0.7s;
}

#_product_gallery > ul > li > a > img:hover {
	background:#d1e7fd;	
}
	
#product_view > div._img_main {
	width:485px;
	height:290px;
	float:left;
	padding: 10px;
	text-align: center;
	border: 1px solid #cdcdcd;
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(244,244,244,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=1 );
	}
	
.html_text.prod_detail {
	width: 640px;
	float: left;
	margin-top:-40px;
}

#product_view > div.consultar_producto > a{
	background-color: #0492D4;
	font-weight: bold;
	padding: 8px 15px;
	border: none;
	font-family: 'Open Sans', sans-serif;
	float: right;
	margin-right: 0px;
	color:#FFF;
	text-decoration:none;
	margin-top: 35px;
	
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

#product_view > div.consultar_producto > a:hover{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	}