/*************Slide*********/

*{
	margin:0;
	/*padding:0;*/
}

#containerSlide{
	width:100%;
	height:415px;
	position:absolute;
	left:0;
	top:210px;
	overflow:hidden;
}


#containerSlide .prevButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../img/buttons.png') no-repeat;
	top:200px;
	margin-top:-36px;
	cursor:pointer;
	z-index:9999;
	background-position:left top;
	left:20px;
	
	display:none\9;
}

#containerSlide .prevButton:hover{ background-position:left bottom;left:20;}

#containerSlide .nextButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../img/buttons.png') no-repeat;
	top:200px;
	margin-top:-36px;
	cursor:pointer;
	z-index:9999;
	background-position:right top;
	right:20px;
	
	display:none\9;
}

#containerSlide .nextButton:hover{background-position:right bottom;right:20px;}




#containerSlide ul{
	width:100%;
	height:427px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}

#containerSlide li:first-child{
	display:list-item;
	position:absolute;
}

#containerSlide li{
	position:absolute;
	display:none;
	width:100%;
	height:415px;
	
	background-size:cover;
	background-position: center center;
}

/*
#containerSlide li img{
	display:block;
    text-align:center;
    position: relative;
    min-width:1920px !important;
    height: 427px !important;
	
}*/


body {
	background:none !important;
/*    background: url(../img/fondo.jpg) repeat-x scroll 0 0;
    /*color: #ffffff;*/
    font-family: "Bree Serif",serif;
}
.header{
	/*width: 82%;*/
	max-width: 940px;
	margin: 0 auto;
	}
.header > div.head_up{
	height:70px;
	margin-bottom: 30px;
	margin-top: 40px;
	}
#breadcrumbs{
	background-color: #e7f5f9;
	text-transform: uppercase;
	padding: 8px 13px 8px 13px;
	clear: both;
	width:900px;
	margin:0 auto;
	color:#2673b7;
	}
#breadcrumbs > a{
	color:#2673b7;
	font-family: "Lato", Verdana, sans-serif;
	font-size:12px;
	}
#breadcrumbs > span{
	color:#000;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;

	}
#guarda_2{
	background: url(../img/guarda.jpg) no-repeat;
	min-height: 624px;
    position: relative;

	}

#guarda{
	background: url(../img/guarda_s.jpg) no-repeat;
	min-height: 100%;
    position: relative;

	}
.logo{
	float:left;
	}
	
/* menu enguaje */
#lang{
	max-width:940px;
	height:5px;
	margin: 20px auto;
	}
#lang > ul{
	float:right;
	margin-top: 5px;
	}
#lang > ul > li {
	float:left;
	list-style: none;
}
#lang > ul > li > a {
	color: #FFF;
	font-family: "Lato", Verdana, sans-serif;
	padding: 6px;
	font-size: 12px;
	}

/* fin menu enguaje */
	
/* menu amarillo */
ul.nav{
	float:right;
	margin-top: 10px;
	list-style: none;
	margin-left: 85px;
	}
	
ul.nav li{
  float: left;
}
ul.nav li a {
  color: #fff;
  display: block;
  padding: .3em;
  text-decoration: none;
  font-size:14px;
  text-transform:uppercase;
  font-family: "Lato", Verdana, sans-serif;
  
  transition:all 1s;
  -webkit-transition:all 1s;
  -moz-transition:all 1s;
  -o-transition:all 1s;
	margin-left:20px;
}

ul.nav li a:hover {
  color: #aaaaaa;

}
  
/* fin menu amarillo */


/* menu principal */
.nav_general {
	margin-bottom: 20px;
	overflow: visible;

}
.nav_general-inner{
	margin: 20px auto;
	padding-right: 20px;
	background: url(../img/bg_menu.jpg) repeat-x;
	height: 45px;
	position: relative;
}

.redes_sociales {
	/*padding: 5px;*/
	text-align: right;
}


.nav_general > div > ul{
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 11px 10px 0 0;
	font-family: "Lato", Verdana, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	width:88.5% !important;
	padding-left:15px;
}
.nav_general > div > ul > li {
    display: block;
    float: left;
}

.nav_general > div > ul > li > a {
	padding: 15px 8px 10px;
	color: #000;
	text-decoration: none;
	display:block;
	margin-top:-13px;
	
	transition:all 0.7s;
	-webkit-transition:all 0.7s;
	-o-transition:all 0.7s;
	-moz-transition:all 0.7s;
}

.nav_general > div > ul > li.active > a{
	color: #fff;
	text-decoration: none;
	background-color:#0a4195;
	/*height:45px;*/
	padding-bottom:11px;
	display:block;
	margin-top:-15px;
	transform: skewX(-20deg) !important;
	
}

/* fin menu principal */


.nav_general > div > ul > li > a:hover {
	color: #fff;
	text-decoration: none;
	background-color:#0a4195;
	/*height:45px;*/
	padding-bottom:10px;
	display:block;
	transform: skewX(-20deg) !important;
	background-color:#333;
	margin-top:-12px;
	/*background:url(../img/bg-menu.png);*/
	
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-o-transition:all 0.3s;
	-moz-transition:all 0.3s;
	
}
/* slide */

#slider1_container {
	width: 940px !important;
	height: 427px !important;
	left:100px\9 !important;
	/*top:210px !important;*/
}

#slider1_container div {
	box-shadow: 0px 8px 10px -6px #999;
	-webkit-box-shadow: 0px 8px 10px -6px #999;
	-moz-box-shadow: 0px 8px 10px -6px #999;
	-o-box-shadow: 0px 8px 10px -6px #999;
	}
	
	
/*
#slider1_container div {
	width:1920px !important;
	height:427px !important;
	overflow:hidden !important;
}

#slider1_container div img{
	width:1920px !important;
	height:427px !important;
}

#slider1_container img{
	width:100%;
	height:auto;
}
*/

.ws_shadow {
  display:none;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: -1;
  left: -0.52%;
  top: 427px;
  width: 960px;
  height: 30px;

}

/* fin-slide */

._product_hightlighted.clearfix div.content_prod{
	background:url(../img/bg_prod_highlighted.png) no-repeat;
	width:961px;
	height:223px;
	margin:0 auto;
	z-index:30;
	padding-left:30px;
	padding-top: 0px;
	}
._product_hightlighted.clearfix div.product_item{
	float: left;
	width: 300px;
	position: relative;
	z-index: 80;
	padding: 5px 10px 0 0;
	margin-top: -21px;
	}
._product_hightlighted.clearfix > div > div:nth-child(1) > div.imagen_prod > table > tbody > tr > td > a > img,
._product_hightlighted.clearfix > div > div:nth-child(2) > div.imagen_prod > table > tbody > tr > td > a > img,
._product_hightlighted.clearfix > div > div:nth-child(3) > div.imagen_prod > table > tbody > tr > td > a > img{
	border:0;
	padding-left: 28px;
	
	transition:all 1s;
	-webkit-transition:all 1s;
	-ms-transition:all 1s;
	-moz-transition:all 1s;
	
	filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}

._product_hightlighted.clearfix > div > div:nth-child(1) > div.imagen_prod > table > tbody > tr > td > a > img:hover,
._product_hightlighted.clearfix > div > div:nth-child(2) > div.imagen_prod > table > tbody > tr > td > a > img:hover,
._product_hightlighted.clearfix > div > div:nth-child(3) > div.imagen_prod > table > tbody > tr > td > a > img:hover{
	filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}


._product_hightlighted.clearfix > div > div:nth-child(1) > a, ._product_hightlighted.clearfix > div > div:nth-child(2) > a, ._product_hightlighted.clearfix > div > div:nth-child(3) > a {
  font-family: "Lato", Verdana, sans-serif;
  font-family: 'Lato', sans-serif;
  font-size:14px;
  color:#353535 !important;
  float: left;
  width: 225px !important;
  margin-top:8px;
  max-width:200px\9;
  line-height:15px;
	}
._product_hightlighted.clearfix > div > div:nth-child(1) > div.mas_info > a,._product_hightlighted.clearfix > div > div:nth-child(2) > div.mas_info > a, ._product_hightlighted.clearfix > div > div:nth-child(3) > div.mas_info > a{
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size:12px;
	color:#fff;
	background-color:transparent url("../img/buttonBack.png") repeat scroll 0% 0% !important;
	width:55px;
	width:35px\9;
	height:28px;
	float:right;
	padding: 5px 8px 0 7px;
	margin-top: 10px;
	margin-right: 10px;
	
	}
	

/* form contacto */

#MessageSendForm{
	margin:0 auto;
	}
.contact div.col.left{
	width: 50%;
	padding: 10px 30px;
	float: left;
}
.contact div.col.right{
	width: 50%;
	padding: 10px 30px;
	float: left;
	}

#MessageSendForm div.col.left div.input.text.required input#MessageName,
#MessageSendForm div.col.left div.input.text input#MessageCompany,
#MessageSendForm div.col.left div.input.text input#MessageAddress,
#MessageSendForm div.col.left div.input.text input#MessageLocality, 
#MessageSendForm div.col.left div.input.text input#MessageProvince,
#MessageSendForm div.col.left div.input.text input#MessageCountry,
#MessageSendForm div.col.right div.input.tel input#MessageTelephone,
#MessageSendForm div.col.right div.input.text input#MessageSubject,
#MessageSendForm div.col.right div.input.textarea textarea#MessageMessage,
#MessageSendForm div.col.right div.input.email.required input#MessageEmail{
	border: 1px solid #ddd;
	padding: 8px;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	color: #666;
	width: 65%;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 7%, #f7f7f7 22%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#f7f7f7), color-stop(22%,#f7f7f7), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	background: linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
	box-shadow: 0px 1px 1px rgba(255,255,255,0.7), 1px 1px 2px rgba(0,0,0,0.1) inset;
}

#MessageSendForm div.col.left div.input.text.required label,
#MessageSendForm div.col.left div.input.text label,
#MessageSendForm div.col.right div.input.text label, 
#MessageSendForm div.col.right div.input.textarea label,
#MessageSendForm div.col.right div.input.tel label,
#MessageSendForm div.col.right div.input.email.required label
{

	font-family: "Lato", Verdana, sans-serif;
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-moz-box-orient: horizontal;
	-moz-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	box-orient: horizontal;
	box-pack: end;
	box-align: center;
	height: 40px;
	float: left;
	padding-right: 3%;
	width: 30%;
	min-width: 80px;
	font-size: 13px;
	color: #333333;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: right;
	padding-top:10px;
	
}


/* Acero Plastico */
.plast_acer {
	width: 126px;
	position: absolute;
	top: 200px;
	z-index: 1;
	margin-left: 840px;
	margin-left: 920px\9;
	margin-top:25px;
}
.plast_acer > a.plastico > img{
	margin-top:25px;
}


.footer {
    background: url(../img/footerBackground.jpg) repeat-x #333;
	border-top:1px solid #666;
    height: 250px;
    width: 100%;
}

#container > div.guarda_2{
	background: url(../img/guarda_s.jpg) no-repeat;
	margin: 0 auto;

	}
	
/* NEWSLETTER */

#PageHomeForm div.input.email label {
color:black;
float:left;
padding-top: 5px;
}

#PageHomeForm div.submit input {
float: left;
background-color: black;
border: 0px;
color: white;
font-family: "Lato", Verdana, sans-serif;
font-weight: bold;
font-size: 12px;
padding: 4px;
margin-top: 1px;
text-transform: uppercase;
letter-spacing: 0px;

}

#newsletter {
	font-family: "Lato", Verdana, sans-serif;
	color: black;
	width: 400px;
	border: solid 0px #000;
	height: 85px;
	text-transform: uppercase;
	float:left;
	margin-left:40px\9;

}

.newsletter label {
	display: block;
	padding-bottom: 15px;
	padding-top: 7px;
}


.newsletter input {
float: left;
width: 248px;
height: 27px;
border: none;
background: #e7e7e7;
color: #fff;
}

.news_tit {
	font-family: "Lato", Verdana, sans-serif;
font-size: 18px;
color: #0a4195;
font-weight: bold;
padding-top: 10px;
padding-bottom: 5px;
width:350px;
}


#NewsletterUserEmail {
background: #F5F5F5;
color: black;
width: 240px;
height: 28px;
border: none;
font-family: Arial, sans-serif;
font-size: 12px;
border: 1px solid #CCCCCC;
padding-left: 5px;
float:left;
margin-right: 5px;
font-weight: bold}


#search-box{
text-align: left;
font-size: 14px;
padding-left: 10px;
height: 84px;
}

	
/* NOTICIAS */
.noti_home {
max-width: 960px;
margin: 0 auto;
}

.int_footer {
width: 960px;
margin: 0 auto;
}

#destacado{
	width: 430px;
	float: left;
	margin-right: 18px;
	margin-left: 18px;
	margin-top: 20px;
	padding:10px;
	border-bottom: 1px solid #000000;
}

	
.index-posts{
	width: 960px;
	margin:35px auto;
	padding-left: 30px;
	}

.index-posts > .index-post.clearfix {
	width: 450px;
	float: left;
	padding-left: 23px;
	margin-top:20px;

}
#destacado > a.prod_nombre{
	width: 250px;
	float: left;
	color:#2c2c2c;
    font-family: "Lato", Verdana, sans-serif;
	font-size:20px;
	margin-right: 20px;
	margin-left: 7px;
	text-decoration: none;
	line-height:18px;

	}
	
	a:hover {
	/*font-weight: bold;*/
    
}
#destacado > div.imagen_producto > table > tbody > tr > td > a > img{
	float: right;
	width:120px;
	}
	
.index-post.clearfix div.index-post p.index-date{
	background: #30a22d;
	/*background: url("../img/date_arrow.png") no-repeat scroll 77px 13px #0a4195;*/
    color: #fff;
    font-family: "Lato", Verdana, sans-serif;
    font-size: 14px;
    height: 30px;
    margin:-200px 0 0 0;
    padding: 4px 8px 0 10px;
    position: absolute;
    width: 95px;
	}
.index-post.clearfix div.index-post h2{
	background-color: #0d0d0d;
	font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: -10px 0 0;
    min-height: 70px;
    padding: 10px 5px 21px 10px;
    text-transform: uppercase;
    width: 400px;
	text-decoration: none;
	} 
	
.index-post.clearfix div.index-post h2 a{
	color:#fff;
	font-weight:700;
}
	
	a:link   
{   
 text-decoration:none;  
}   
	
	
		}
.index-post.clearfix div.index-post h2 a{
    color: #fff;

	}
.index-post.clearfix div.index-post p._abstract{
	background-color: #CCC;
    color: #000;
	font-family: 'Open Sans', sans-serif;
    padding: 10px;
    width: 400px;
	min-height: 100px;
	}
	
#destacado > div.mas_info > a{
	width: 85px !important;
	height: 29px;
	background:url(../img/notasBotton.png) no-repeat;
	/*background: #30a22d;*/
	float: left;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding: 5px 5px 0px 7px;
	text-align: left;
	margin: 0 0 10px 7px;
	text-decoration: none;
	
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	
	filter:grayscale(0%);
	-moz-filter:grayscale(0%);
	-webkit-filter:grayscale(0%);
	-o-filter:grayscale(0%);
	}
	
	#destacado > div.mas_info > a:hover{
	filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
	-o-filter:grayscale(100%);		
		
}
	
.all_noti	{
	width:900px;
	margin:32px auto;
	}
.all_noti > h1{
	background: #34bc3b; /* Old browsers */
	background: -moz-linear-gradient(top,  #34bc3b 0%, #30a22d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34bc3b), color-stop(100%,#30a22d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #34bc3b 0%,#30a22d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #34bc3b 0%,#30a22d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #34bc3b 0%,#30a22d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #34bc3b 0%,#30a22d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34bc3b', endColorstr='#30a22d',GradientType=0 ); /* IE6-9 */

	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding: 23px 5px 21px 25px;
	text-transform: uppercase;
	color:#fff;
	font-weight:700;
	border-bottom:4px solid #060;
	}
.all_noti > ul > li {
	list-style: none;
}

.all_noti > ul > li > a {
	width:115px;
	height:100px;
	margin:8px 8px;
	
	float: left;
	overflow:hidden;
	
	/*-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);*/
	
	border: 1px solid #cdcdcd;
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(244,244,244,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=1 );
}

.all_noti > ul > li > a > img {
	height:100%;
	max-width:150%;
	margin:auto;
	
	
}
#fecha_red {
	width: 900px;
	height: 40px;

}
#fecha_red > div.date{
	float:left;
	/*background: #000;*/
	/*background: url("../img/date_arrow.png") no-repeat scroll 77px 13px #000;*/
	color: #BABABA;
	font-family: "Lato", Verdana, sans-serif;
	font-size: 14px;
	height: 35px;
	margin: 0;
	padding:0;
	width: 90px;
	}
#fecha_red > div.social_share{
	float: right;}
	
/* form rrhh */
.contact, #container-g > div > div.pedido{
	margin:0 auto;
	width:900px;}

#RrhhConsultEnviocvForm > div.col.left{
	width: 50%;
	padding: 10px 30px;
	float: left;
	margin-bottom:30px;s
}
#RrhhConsultEnviocvForm > div.col.right{
	width: 50%;
	padding:0 30px;
	float: left;
	font-family: "Lato", Verdana, sans-serif;
	}
	
#RrhhConsultEnviocvForm > div.col.right h3{
	font-family: "Lato", Verdana, sans-serif;
	font-size:21px;
}

#RrhhConsultEnviocvForm div.col.left div.input.text label,
#RrhhConsultEnviocvForm div.col.left div.input.email label,
#RrhhConsultEnviocvForm div.col.right div.input.text label,
#RrhhConsultEnviocvForm div.col.right div.input.select label,
#RrhhConsultEnviocvForm div.col.right div.input.file label,
#RrhhConsultEnviocvForm div.col.left div.input.tel label{
    font-family: "Lato", Verdana, sans-serif;
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-moz-box-orient: horizontal;
	-moz-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	box-orient: horizontal;
	box-pack: end;
	box-align: center;
	height: 40px;
	float: left;
	padding-right: 3%;
	width: 25%;
	min-width: 110px;
	font-size: 12px;
	color: #333333;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: left;
	
}
#RrhhConsultEnviocvForm > div.col.right > div.input.file > label[for="RrhhConsultCv"]{
	font-family: "Lato", Verdana, sans-serif;
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-moz-box-orient: horizontal;
	-moz-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	box-orient: horizontal;
	box-pack: end;
	box-align: center;
	height: 40px;
	float: left;
	left: -126px;
	width: 25%;
	min-width: 200px;
	font-size: 13px;
	color: #333333;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: left;
	position: relative;
	top: 41px;
	margin-bottom:75px;
	}


#RrhhConsultName, #RrhhConsultAddress,#RrhhConsultLocality, #RrhhConsultProvince, 
#RrhhConsultTelephone, #RrhhConsultEmail,#RrhhConsultCountry {
	border: 1px solid #ddd;
	padding: 8px;
	/*font-weight: bold;*/
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	color: #666;
	width: 65%;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 7%, #f7f7f7 22%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#f7f7f7), color-stop(22%,#f7f7f7), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	background: linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
	box-shadow: 0px 1px 1px rgba(255,255,255,0.7), 1px 1px 2px rgba(0,0,0,0.1) inset;
	font-family:Verdana, sans-serif;
	font-size:16px;
}
#RrhhConsultCv{
	border: 1px solid #ddd;
	padding: 8px;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	color: #666;
	width: 68%;
	margin-top:100px;
	margin-left: -15px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 7%, #f7f7f7 22%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#f7f7f7), color-stop(22%,#f7f7f7), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	background: linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
	box-shadow: 0px 1px 1px rgba(255,255,255,0.7), 1px 1px 2px rgba(0,0,0,0.1) inset;
	}
#RrhhConsultEnviocvForm > div.col.right > div.input.select > div:nth-child(4) > label,
#RrhhConsultEnviocvForm > div.col.right > div.input.select > div:nth-child(5) > label,
{
   font-family: "Lato", Verdana, sans-serif;
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-moz-box-orient: horizontal;
	-moz-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	box-orient: horizontal;
	box-pack: end;
	box-align: center;
	height: 13px;
	float: right;
	padding-left: 50%;
	width: 41%;
	min-width: 80px;
	font-size: 13px;
	color: #333333;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: right;
	position: relative;
	top: -16px;
	
}
#RrhhConsultEnviocvForm > div.col.right > div.input.radio > fieldset > label[for="RrhhConsultGenreId1"] ,
#RrhhConsultEnviocvForm > div.col.right > div.input.radio > fieldset > label[for="RrhhConsultGenreId2"]
{
	font-family: "Lato", Verdana, sans-serif;
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-moz-box-orient: horizontal;
	-moz-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	box-orient: horizontal;
	box-pack: end;
	box-align: center;
	height: 12px;
	float: left;
	padding-left: 45%;
	width: 41%;
	min-width: 130px;
	font-size: 12px;
	font-weight:700;
	color: #333333;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: right;
	position: relative;
	top: -18px;
	
}

#RrhhConsultEnviocvForm > div.col.right > div.input.radio{
	height: 80px;
	width: 25%;
	}
#RrhhConsultGenreId1, #RrhhConsultGenreId2{
	/*display: block;
	cursor: pointer;
	line-height: 36px;
	padding-left: 26px;
	font-size: 28px;
	height: 17px;
	width: 20px;
	margin: 0px 10px 0 10px;*/
  }
.checkbox{
	width: 70%;
	}
input#SectorSector1, input#SectorSector2, input#SectorSector3 {
	float: left;
	width: 20px;
	height: 16px;
	margin-top: 12px;
	margin-left: 10px;
	margin-right: 10px;
}


/* Paginacion */
.index-posts > div.pagination-posts{
	display: inline-block;
	padding-left: 0;
	margin: 20px auto;
	border-radius: 4px;
	width: 90%;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	text-align:center;

	
}
.pagination-posts > span , .pagination-posts > span.next, .pagination-posts > span.prev{
	padding: 10px;
	color: #999;
	border: #ddd 1px solid;
	background-color: #fff;
}
.pagination-posts > span.next > a{
	color: #30a22d;

}

.pagination-posts > span.current{
	background-color: #30a22d;
	color: #fff;
	border: 1px solid #0a4195;
	padding: 10px;
	}
/* Form Pedido */

#OrderPedidoForm {
width: 960px;
margin: 0 auto;
padding-left: 40px;
font-family: "Lato"\9;
color:#666\9;
}

#OrderPedidoForm >.input.text, #OrderPedidoForm >.input.tel, #OrderPedidoForm >.input.text.required, #OrderPedidoForm > div.input.email.required {
	width: 100%;
	width:90%\9;
	height: 50px;
	float: left;
}

#OrderPedidoForm > div:nth-child(2) > label,
#OrderPedidoForm > div:nth-child(3) > label,
#OrderPedidoForm > div:nth-child(4) > label,
#OrderPedidoForm > div:nth-child(5) > label,
#OrderPedidoForm > div:nth-child(6) > label,
#OrderPedidoForm > div.input.tel > label,
#OrderPedidoForm > div.input.email.required > label,
#OrderPedidoForm > div:nth-child(9) > label,
#OrderPedidoForm > div.input.textarea > label
{
	font-family: "Lato", Verdana, sans-serif !important;
	font-family: "Lato"\9;
	font-weight:400\9;
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-moz-box-orient: horizontal;
	-moz-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	box-orient: horizontal;
	box-pack: end;
	box-align: center;
	height: 40px;
	float: left;
	padding-right: 3%;
	width: 30%;
	min-width: 80px;
	font-size: 13px;
	color: #333333;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: right;
	padding-top:10px;
	}



#OrderCompany, #OrderName, #OrderAddress,
#OrderLocality, #OrderProvince, #OrderTelephone,
 #OrderEmail, #OrderCountry, #OrderDetail {
	border: 1px solid #ddd;
	padding: 8px;
	/*font-weight: bold;*/
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	color: #666;
	width: 63.5%;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 7%, #f7f7f7 22%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#f7f7f7), color-stop(22%,#f7f7f7), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	background: linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
	box-shadow: 0px 1px 1px rgba(255,255,255,0.7), 1px 1px 2px rgba(0,0,0,0.1) inset;
	float:right\9;
	font-family:Verdana, Geneva, sans-serif;
	}
	
#OrderPedidoForm > div.submit > input{
	background-color: #0492D4;
	font-weight: bold;
	padding: 8px 15px;
	border: none;
	font-family: Verdana, sans-serif;
	float: right;
	margin:20px 60px 40px 0;
	color:#fff;


}

/* FOOTER */

.footer > div > div.col_1, .footer > div > div.col_2,.footer > div > div.col_3{
	width: 33%;
	padding:0 30px;
	float: left;
	font-family: 'Open Sans', sans-serif;
	color:#FFF;
	margin-top: 15px;
	}
	
.footer > div > div.col_1 > div.pais, .footer > div > div.col_2 > div.pais, .footer > div > div.col_3 > div.pais{
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 1px dotted #FFF;
	padding: 5px;
	margin-bottom: 10px;
	}
/* INSTITUCIONAL */

#institucional{
	width:900px;
	margin:0 auto;
}
	
#institucional > div > p{
	font-family: "Lato", Verdana, sans-serif;
	font-size:15px;
	color:#2c2c2c;
	line-height: 26px;
	}
	
	#columna1 {
    float:left; 
    width:500px;
    border:0px solid #000;
  	font-family: "Lato", Verdana, sans-serif;
	font-size:15px;
	color:#2c2c2c;
	line-height: 22px;
	padding-right: 30px;
	text-align: justify;
	
}
#columna2 {
	margin-left:210px;
    border:0px solid #000;
	font-family: "Lato", Verdana, sans-serif;
	font-size:15px;
	color:#2c2c2c;
	line-height: 22px;
	text-align: justify;
}
	
.intra_frase {
	width: 960px;
	margin:auto;
	/*display: box;*/
	padding: 20px 20px 20px 40px;
	float: left;
	margin-left: 95px;
}

.intra_frase a{
	width:400px;
	height:51px;
	transition:all 1s;
	-webkit-transition:all 1s;
	-ms-transition:all 1s;
	-moz-transition:all 1s;
	
	filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}

.intra_frase a:hover{	
	filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.intra_frase a img{
	margin-top:15px;}


.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
	right:10px !important;
    background: url(../img/a03.png) no-repeat;
    overflow:hidden;
}
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03ldn { background-position: -243px -33px; }
.jssora03rdn { background-position: -303px -33px; }



.intra_frase a {
	width:400px;
	height:85px;
	float:right\9;
	/*margin-top:-90px;*/
	
}

.intra_frase {
	width:920px\9 !important;
	margin-left:150px\9 !important; /* IE8 and below */
	}
	
	
#imagen_institucional{
	width:900px;
	height:280px;
	margin:auto;
	padding-bottom:30px;
}

#texto_institucional{
	width:900px;
	height:auto;
	margin-top:0px;
	font-family: Verdana, sans-serif;
	font-size:13px;
	color:#666;
	clear:both;
}

	
#texto_institucional h1{
	font-familiy:"Lato", Verdana, sans-serif;
	font-size:18px;
	color:#2C2C2C;
	}
	
#columna01 {
	width:48%;
	hegiht:auto;
	float:left;
	margin-bottom:20px;
}

#columna02 {
	width:48%;
	hegiht:auto;
	float:right;
	margin-bottom:40px;
}

.input file {
	float:left;
	width:30px;
	margin-top:30px;

}

.prod_nombre{
	font-family: "Lato", Verdana, sans-serif;
	color:#353535;
	margin-top:0px\9;
}
.prod_nombre:hover{
	text-decoration:none !important;
	}


.content_prod .mas_info a{
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size:11px\9 !important;
	height:28px;
	padding: 5px 5px 0 5px !important;
	margin-top: 33px\9 !important;
}

#destacado .mas_info a{
	clear:both; !important;
}

#high_item {
	float:right\9 !important;
	margin-top:-30px\9;
	margin-right:10px\9;
}

#high_item a {
		width:55px\9 !important;	
	}
	
	
.index-image {
	width:400px !important;
	border:2px solid #000;
	overflow:hidden;
}


.imagen_prod{
	height:200px;
	overflow:hidden;
}

.imagen_prod td {
	width:296px !important;
	height:auto;
	overflow:hidden;
}
	
.imagen_producto{
	max-height:60px;
	max-height:40px\9;
}
	
.content_prod .imagen_prod {
	max-height:180px !important;
	}
	

	
#facebook {
	color:#333;
	font-size:30px;
	margin-right:5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;

}

#facebook:hover{
	color:#3a5795;	
}

#linkedin {
	color:#333;
	font-size:30px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;

}

#linkedin:hover{
	color:#0073b2;	
}


.imagen_noti {
	width:400px;
	height:auto;
	overflow:hidden;
	float:left;
	padding-top:40px;
	margin-bottom:15px;
}

.imagen_noti  img{
	width:100% !important; 
	height:auto !important;
	
	border: 1px solid #cdcdcd;
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(244,244,244,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=1 );
	}
	
.prod_nombre{
	width:200px\9;
	}
	
.contact h4, .pedido h4 {
	font-family:Verdana, sans-serif;
	font-size:12px;
	margin-bottom:30px;
}

.plast_acer a {
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

.plast_acer a:hover{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);	
}

#pagos {
	width:940px;
	height:168px;
	margin:auto;
	clear:both;
}

#topnav > li:first-child > a{
	background:url(../img/CategoriaAcero.png) no-repeat;
	
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

#topnav > li:nth-child(3) > a{
	background:url(../img/CategoriaPlastico.png) no-repeat;
	
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

#topnav > li:nth-child(2) > a{
	background:url(../img/CategoriaOil.png) no-repeat;
	
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

#topnav > li:nth-child(4) > a{
	background:url(../img/CategoriaNormal.png) no-repeat;
	
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

#topnav > li:first-child > a:hover, #topnav > li:nth-child(2) > a:hover, #topnav > li:nth-child(3) > a:hover, li:nth-child(4) > a:hover {
	-webkit-filter: grayscale(100%) !Important;
	-moz-filter: grayscale(100%) !Important;
	filter: grayscale(100%) !Important;	
}


._product_hightlighted.clearfix > div > div:nth-child(1) > div.mas_info > a {
	background:url(../img/buttonBack.png) !important;
	width:55px !important;
	
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

._product_hightlighted.clearfix > div > div:nth-child(1) > div.mas_info > a:hover {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);	
}

#destacado > div.mas_info > a {
		
}


.index-image img{
	opacity: 0.75;
	-webkit-opacity: 0.75;
	-moz-opacity: 0.75;
    -o-filter: alpha(opacity=75); /* For IE8 and earlier */
	
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
}


.index-image img:hover{
	opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
	-webkit-opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */	
}

.gallery .brw-image img {
	opacity: 0.75;
	-webkit-opacity: 0.75;
	-moz-opacity: 0.75;
    -o-filter: alpha(opacity=75); /* For IE8 and earlier */
	
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
}

.gallery .brw-image img:hover {
	opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
	-webkit-opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */	
}



/*************** Seccion productos ********/
.intro_productos{
	width: 640px;
	min-height:500px;
	float: left;
	margin-top: -40px;
	margin-left: 20px;
}

.intro_productos > h3{
	font-family: "Lato", Verdana, sans-serif;
	font-size: 18px;
	color: #2c2c2c;
	padding-top: 18px;
	text-transform: uppercase;
	border-bottom: 1px solid #0a4195;
	padding-bottom: 10px;
	width:642px;
	}
	

#productos_left {
	width:48%;
	height:auto;
	float:left;
}

#productos_left a{
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

#productos_left a:hover {	
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}


#productos_right {
	width:48%;
	height:auto;
	float:right;
}

#productos_right a{
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

#productos_right a:hover {	
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

#leftright_img{
	width:100%;
	height:190px;
	margin-bottom:5px;
	overflow:hidden;	
}

#leftright_img img{
	max-width:150%;
	
}

#aceroPlastico_text{
	width:100%;
	height:300px;
	background:#1a3f85;
	
	color:#fff;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
}

#aceroPlastico_text ul {
	padding:15px 20px 0 27px;
	line-height:20px;
}

#slidesTODO {
	display:none\9;	
}

#slider1_container{
	background:url(../img/Flota01.jpg);
}

.down{
	margin-top:20px;	
}

.et_pb_text p a{
		height:100px;
}

#info_footer {
	width:100%;
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	float:left;
	margin-top:40px;
	}
	
#info_footer article {
	max-width:400px;
	margin-left:30px;
	float:left;}
	
#info_footer a {
		float:right;
		margin-right:30px;
		color:#D38700;
		}



/* Servicios*/
.servicios_textos {
	max-width:900px;
	margin:auto;
	margin-top:50px;
	margin-bottom:100px;
	}

.servicios_textos > ._html_text > p{
	font-family: Verdana, sans-serif;
	font-size:13px;
	color:#666;
	}
	
.botonera_inst{
	max-width:940px;
	height:30px;
	background-color:#1A4293;
	font-family:"Lato", sans-serif;
	margin:auto;
	margin-top:-20px;
	color:#FFF;
	font-size:12px;
	}
	
.botonera_inst ul{
	padding:0;
	margin:0 0 0 25px;}
	
.botonera_inst li{
	padding:1px 15px;
	float:left;
	text-transform:uppercase;
	border-left:1px solid #fff;
	margin-top:6px;
	list-style:none;
	}
	
.botonera_inst li:first-child{
	padding-left:0;
	border-left:none;}

.botonera_inst li a{
	color:#FFF;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
	-moz-transition:all 0.5s;
	}
	
.botonera_inst li a:hover{
	color:#0CF;
	}