@charset "utf-8";
/* CSS Document */

body {
	overflow-x:hidden;
	}
	
.js .nav-collapse {
	height:40px !important;
	}


#accesoriosPlasticos {	
	max-width:500px;
	height:auto;
	display:block;
	margin:auto;
	background:url(http://www.identhya.com/bertotto/Accesoriosparatanquesplasticos-02.jpg);
	background-position:cover;
}

#accesoriosPlasticos img {
	width:100%;
	height:auto;
	}


@media screen and (max-width:1200px){


/*** HOme ***/
#slider1_container{
	left:0 !important;
	}	

.plast_acer{
	margin-left:740px;
	}

._product_hightlighted{
	margin-left:-10px;
	
	}
	
.intra_frase{
	margin-left:0px;
	padding-left:20px;
	width:950px;
	}
}

@media screen and (max-width:994px) {
	
	
	#RrhhConsultEnviocvForm > div.col.right > div.input.file > label[for="RrhhConsultCv"] {
		left:0px !important;
		}
	
ul.nav li a {
	margin-left:5px;
	}

.nav_general-inner {
	padding-right:0;
	}

.nav_general-inner ul {
	font-size:0.87em !important;
	padding-left:0px !important;
	margin-top:12px !important;
	margin-right:0px !important;
	width:89% !important;
	}
	
.nav_general > div > ul {
	width:89.5% !important;
	}


.nav_general-inner li a {
	padding:15px 6px 10px 6px !important;
	}
	
#linkedin {
	margin-right:10px;
	font-size:28px;
	}
	
.nav_general > div > ul > li.active > a {
	margin-top:-14px;
	}

#slider1_container {
	width:720px !important;
	height:327px !important;
	}

#slider1_container div{
	width:720px !important;
	height:327px !important;
	}
	
.ws_shadow{
	top:327px;
	z-index:1;
	}

#slider1_container span {
	top:140px !important;
	}
	
._product_hightlighted.clearfix > div > div:nth-child(3) > div.imagen_prod > table > tbody > tr > td > a > img {
	display:none;
	}

.plast_acer {
	width:100px;
	margin-left:550px;
	margin-top:10px;
	}
	
._product_hightlighted.clearfix div.content_prod {
	width:750px;
	overflow:hidden;
	height:213px;
	background:url(../img/bg_prod_highlighted750.png) no-repeat;
	}
	
._product_hightlighted.clearfix div.product_item {
	width:350px;
	}
	
.noti_home #destacado {
	width:340px;
	height:130px;
	margin-left:5px;
	margin-right:7px;
	overflow:hidden;
	}
	
.noti_home #destacado .prod_nombre {
	width:170px;
	font-size:18px;
	margin-bottom:10px;
	}
	
.intra_frase {
	width:720px;
	padding-left:0px;
	padding-right:0px;
	
	}
.intra_frase #newsletter {
	width:350px;
	}
	
.intra_frase a img {
	width:350px;
	}
	
#NewsletterUserEmail{
	width:220px;
	}
	
#pagos {
	width:730px;
	}

.int_footer {
	width:750px;
	}
	
.footer > div > div.col_3 {
	width:33.2%;
	padding: 0 10px;
	}


/******* Institucional ***************/

#institucional {
	width:720px;
	}

#institucional #imagen_institucional {
	width:720px;
	height:auto;
	}
	
#institucional #texto_institucional {
	width:720px;
	}
	
/*********** Productos ***************/

.intro_productos {
	width:420px;
	}
	
.intro_productos h3 {
	width:420px;
	}

#productos_right {
	width:49.5%;
	float:right;
	}
	
#productos_left {
	width:49.5%;
	float:left;
	}

.down {
	margin-top:0px;
	}
	

/*********** Productos Ampliacion***************/

#breadcrumbs {
	width:720px;
	}
	
.productos {
	width:730px;
	}
	
.productos .product_index {
	width:425px;
	}
	
.productos .product_index h3{
	width:425px;
	}
.productos .pagination {
	width:425px;
	}

.product_index.clearfix > div.product_item {
	width:48%;
	margin:0 8px 8px 0;
	}
	
.product_item .imagen_prod {
	height:175px;
	}
	
.product_index.clearfix > div.product_item {
	height:290px;
	}
	
#container-g > div > div.productos > div.product_index.clearfix > div > div.mas_info > a{
	margin-top:10px;
	float:left;
	margin-right:0px;
	margin-left:3px;
	width:97%;
	background-color:#00519A;
	text-align:center;
	font-size:1.2em;
	}

div.product_item > div.imagen_prod > table > tbody > tr > td > a > img {
	height:160px;
	/*padding:18px 15px 15px 10px;*/
	padding:30px 0px 0px 0px;
	}
	
.productos > div.product_index.clearfix > div.product_item > a.prod_nombre {
	width:100%;
	margin:10px 0 0 0;
	padding:0 5px 0 5px;
	height:60px;
	text-align:center;
	}
	

/*********** Producto ampliacion de producto ***********/
.productos #product_view {
	width:423px;
	}
	
.productos #product_view h1 {
	max-width:423px;
	}

.productos #product_view ._img_main {
	width:100%;
	}

.html_text.prod_detail {
	width:100%;
	margin-top:-60px;
	}
	
#product_view > div.html_text.prod_detail > h3{
	width:100%;
	}
#_product_gallery {
	width:100%;
	float:left;}
	
.gallery{
	width:100%;
	height:auto;
	float:left;
	padding-left:0;
	margin: 10px 0 0 0;}
	
#_product_gallery > ul > li > a > img {
	margin:0 0 15px 14px;
	}

#product_view > div.consultar_producto > a {
	margin-top:20px;}
	
#imagen_institucional iframe {
	width:100%;
	}
	
	
/*********** Noticias ********************/
.index-posts {
	width:720px;
	padding:0px;
	}
	
.index-posts > .index-post.clearfix {
	width:48%;
	padding:0;
	margin:7px 7px;
	
	}
.index-image {
	width:100% !important;
	}
	
.index-post.clearfix div.index-post h2 {
	width:100%;
	}
	
.index-post.clearfix div.index-post p._abstract {
	width:100%;
	}
	
.index-post.clearfix div.index-post p.index-date {
	margin-top:-174px;
	}
	
.index-posts > div.pagination-posts {
	width:100%;
	}
	
/*********** Ampliacion de nota *************/

.all_noti {
	width:100%;
	}
	
#fecha_red {
	width:100%;
	}
	
.imagen_noti {
	width:45%;
	height:auto;
	margin-bottom:10px;
	}
	
.all_noti .gallery {
	width:45%;
	margin-left:0;
	}
	
.all_noti > ul > li > a {
	width:30%;
	margin:5px 5px;
	}
	
.all_noti .gallery {
	min-height:100px !important;
	margin-bottom:50px;
	}
	

/************Distribuidores ***********/

#index_distri {
	width:720px;
	margin-bottom:75px;
	}

#index_distri ._html_text iframe {
	width:100%;
	}
	
/**************** Pedidos **********/
.contact, #container-g > div > div.pedido {
	width:720px;
	}
	
#OrderPedidoForm {
	width:100%;
	}
	
#RrhhConsultEnviocvForm > div.col.left {
	width:49%;
	padding:0;
	}
	
#RrhhConsultEnviocvForm > div.col.right {
	padding:0;
	width:45%;
	margin-left:30px;
	}
	
.contact div.col.left {
	width:49%;
	padding:0;
	}
	
.contact div.col.right {
	width:48%;
	padding:0;
	margin-left:20px;
	}
	
#MessageSendForm div.col.left div.input.text.required label, #MessageSendForm div.col.left div.input.text label {
	width:32%;}
}



/************************************************************730*******************************************/
@media screen and (max-width:730px) {
	
.container {
	width:490px;
	padding-left:10px;
	padding-right:10px;
	}
	
.header > div.head_up {
	height:130px;}
	
.head_up .nav {
	margin:22px 0 0 0;
	width:100%;
	}
	
.head_up .nav li {
	width:33.3%;
	min-height:35px;
	margin-left:0;
	}
	
.head_up .nav li:first-child {
	margin-left:0;
	}
	
.logo {
	width:470px;
	margin-left:80px;
	}

ul.nav li a {
	text-align:center;
	font-size:12px;
	margin:0;
	padding:13px 0 14px 0;
	border:1px solid #003;
	background-color:rgba(32, 112, 171, 1);
	}
	
ul.nav li:nth-child(2) a, ul.nav li:nth-child(3) a {
	padding:13px 0 14px 0;
}
	
ul.nav li a:hover{
	background-color:#07296A;
	color:#FFF;
	}
	
.nav-collapse li {
  width: 100%;
  display: block;
}

.nav_general-inner li a {
	padding:15px 0px 10px 0px !important;
	background-color:#FFF;
	border-bottom:1px solid #CCC;
	font-size:1.1em;
	}
	
.nav_general > div > ul > li > a {
	margin-top:-10px;
	text-align:center;
	}
	
.nav_general > div > ul > li > a:hover {
	transform:none !important;
	}
	
.nav_general > div > ul > li {
	margin-bottom:10px;
	}
	
.nav_general-inner {
	background:none;
	}
	
.js .nav-collapse {
  height:375px !important;
}

.nav_general > div > ul > li.active > a {
	transform:none !important;
	}
	
.nav_general > div > ul > li:last-child {
	margin-bottom:0;}

.nav_general > div > ul {
	margin:10px 0 0 0;
	padding:0 !important;
	width:100% !important;
	}
	
.nav_general a.nav-toggle {
	width:100% !important;
	text-align:center !important;
	font-family:"Lato", Verdana, sans-serif;
	font-size:1.2em;
	font-weight:700;
	letter-spacing:1px;
	background-color:#1068A7;
	color:#FFF;
	padding:10px 208px;
	}
	
.nav_general-inner {
	margin:10px 0 20px 0 !important;}
	
.header > div.head_up {
	margin-bottom:15px;
	margin-bottom:13px/9;
	}
	
.redes_sociales {
	text-align:center;
	background-color:#FFF;
	}
	
#facebook, #linkedin {
	font-size:3em;
	margin:0px 0 0 10px;
	padding:0;
	}
	
.botonera_inst {
	margin-top:-12px;}
	
#slider1_container {
	width:470px !important;
	height:336px !important;
	
	}

#slider1_container div{
	width:470px !important;
	height:336px !important;
	background-color:#FFF;
	overflow:hidden;
	}
	
#slider1_container div img{
	max-width:150% !important;
	height:100%; !important;
	margin-left:-20%;
	}
	
.ws_shadow{
	top:200px;
	}

#slider1_container span {
	top:140px !important;
	}

.plast_acer {
	display:none;
	}
	
/*** contentdestacados ***/

._product_hightlighted.clearfix div.content_prod {
	width:470px;
	padding-left:10px;
	padding-right:0px;
	background:#FFF;
	height:230px;
	box-shadow: 0px 5px 5px #CCC;
	margin-left:10px;
	}
._product_hightlighted.clearfix div.product_item {
	width:225px;
	padding-right:10px;
	}
	
.noti_home #destacado {
	width:470px;
	height:110px;
	margin-left:0px;
	margin-right:0px;
	padding:0;
	}
	
._product_hightlighted.clearfix > div > div:nth-child(1) > a, ._product_hightlighted.clearfix > div > div:nth-child(2) > a, ._product_hightlighted.clearfix > div > div:nth-child(3) > a {
	width:200px !important;
	height:45px;
	overflow:hidden;
	}
	
._product_hightlighted.clearfix > div > div:nth-child(1) > div.mas_info > a, ._product_hightlighted.clearfix > div > div:nth-child(2) > div.mas_info > a, ._product_hightlighted.clearfix > div > div:nth-child(3) > div.mas_info > a {
	margin-right:0;}
	
._product_hightlighted.clearfix > div > div:nth-child(1) > div.imagen_prod > table > tbody > tr > td > a > img, ._product_hightlighted.clearfix > div > div:nth-child(2) > div.imagen_prod > table > tbody > tr > td > a > img, ._product_hightlighted.clearfix > div > div:nth-child(3) > div.imagen_prod > table > tbody > tr > td > a > img {
	padding-left:0px;
	}
	
._product_hightlighted.clearfix > div > div:nth-child(3) > div.imagen_prod > table > tbody > tr > td > a > img {
	display:none;
	}
	
.noti_home #destacado .prod_nombre {
	width:275px;
	margin-right:0px;
	font-size:18px;
	}
	
.imagen_producto {
	float:right;
	}
	

	
.intra_frase {
	width:100%;
	}
	
.intra_frase a img {
	width:420px;
	margin-left:0 !important;
	padding-right:10px;
	}
	
.intra_frase #newsletter {
	width:470px;
	}
	
#search-box {
	width:300px;
	margin-left:100px;
	padding:0;
	}

#NewsletterUserEmail {
	width:168px;
	}
	
.news_tit {
	width:470px;}
	
#pagos {
	display:none;
	}
	
.int_footer {
	width:470px;
	}
	
.footer > div > div.col_1, .footer > div > div.col_2, .footer > div > div.col_3 {
	width:100%;
	padding:0 30px !important;
	}
	
.footer {
	height:540px;
	background:#204193 !important;
	}
	
	



/******* Institucional ***************/

#institucional {
	width:470px;
	}

#institucional #imagen_institucional {
	width:470px;
	height:auto;
	overflow:hidden;
	}
	
#institucional #imagen_institucional img {
	max-width:200%;
	height:100%;
	display:block;
	margin-left:-200px;
	}
	
#institucional #texto_institucional {
	width:470px;
	}
	
#columna01, #columna02 {
	width:100%;
	font-size:1.1em;
	}



/*********** Productos ***************/

.intro_productos {
	width:470px;
	margin:0;
	}
	
.intro_productos h3 {
	width:470px;
	}

#productos_right {
	width:50%;
	}
	
#productos_left {
	width:50%;
	}

.down {
	margin-top:0px;
	}
	

/*********** Productos Ampliacion***************/

#breadcrumbs {
	display:none;
	}
	
.productos {
	width:470px;
	}
	
.productos .product_index {
	width:470px;
	margin:0;
	}
	
.productos .product_index h3{
	width:470px;
	}
.productos .pagination {
	width:470px;
	}

.product_index.clearfix > div.product_item {
	width:48%;
	margin:0 4px 8px 4px;
	}
	
.product_item .imagen_prod {
	height:150px;
	}
	
.product_index.clearfix > div.product_item {
	height:286px;
	}

	
.productos > div.product_index.clearfix > div.product_item > a.prod_nombre {
	text-align:center;
	font-size:1.1em;
	height:80px;
	overflow:hidden;
	padding:0 8px 0 8px;
	}
	
#container-g > div > div.productos > div.product_index.clearfix > div > div.mas_info > a{
	margin-top:10px;
	float:left;
	margin-right:0px;
	margin-left:4px;
	width:97%;
	background-color:#00519A;
	text-align:center;
	font-size:1.2em;
	}
	

/*********** Producto ampliacion de producto ***********/
.productos #product_view {
	width:470px;
	margin:0;
	}
	
.html_text {
	font-size:1.1em;
	line-height:1.3em;}
	
#topnav > li > ul > li > a {
	font-size:1.2em;
	}
	
#topnav > li > ul > li > ul > li > a, #topnav > li > ul > li > ul > li > ul > li > a {
	font-size:1.2em;
	height:23px;
	}
	
.productos #product_view h1 {
	max-width:470px;
	}

#product_view > div.consultar_producto > a {
	margin-top:20px;
	margin-bottom:40px;
	}
	
#product_view > div._img_main {
	height:240px;
	overflow:hidden;
	}
	
	
/********Comercio exterior *******/
#imagen_institucional iframe {
	height:250px;
	}
	
	

/*********** Noticias ********************/
.index-posts {
	width:470px;
	}
	
.index-image a img {
	width:100%;
	display:block;
	margin:auto;}
	
.index-posts > .index-post.clearfix {
	width:100%;
	padding:0;
	margin:5px 0px;
	}
	
.index-post.clearfix div.index-post p.index-date {
	margin-top:-237px;
	font-size:0.9em;
	padding:5px;
	height:25px;
	width:80px;
	}



/*********** Ampliacion de nota *************/

	
.imagen_noti {
	width:99%;
	height:150px;
	margin-bottom:10px;
	margin-top:30px;
	padding-top:0;
	
	border: 1px solid #cdcdcd;
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(244,244,244,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=1 );
	}
	
.imagen_noti img {
	height:90% !important;
	width:auto !important;
	background:none;
	border:none;
	margin:auto;
	display:block;
	padding-top:20px;
	}
	
.all_noti .gallery {
	width:100%;
	margin-left:0;
	}
	
.all_noti .html_text {
	width:100%;
	min-height:50px;
	padding-top:8px;
	margin-bottom:20px;
	font-size:1.1em;
	line-height:1.3em;
	}
	
.all_noti > ul > li > a {
	width:30%;
	margin:5px 5px;
	}
	
.all_noti .gallery {
	min-height:100px !important;
	margin-bottom:50px;
	}
	
#fecha_red > div.social_share {
	width:470px;}
	
.all_noti > h1 {
	padding:23px 12px 21px 12px !important;
	line-height:1.3em;}
	


/************Distribuidores ***********/

#index_distri {
	width:470px;
	margin-bottom:75px;
	}

#index_distri ._html_text iframe {
	width:100%;
	}
	
	

	
/**************** Pedidos **********/
.contact, #container-g > div > div.pedido {
	width:470px;
	}
	
#OrderPedidoForm {
	width:100%;
	padding:0;
	}
	
#OrderPedidoForm > div:nth-child(2) > label, #OrderPedidoForm > div:nth-child(3) > label, #OrderPedidoForm > div:nth-child(4) > label, #OrderPedidoForm > div:nth-child(5) > label, #OrderPedidoForm > div:nth-child(6) > label, #OrderPedidoForm > div.input.tel > label, #OrderPedidoForm > div.input.email.required > label, #OrderPedidoForm > div:nth-child(9) > label, #OrderPedidoForm > div.input.textarea > label {
	float:left;
	width:100%;
	text-align:left;
	height:30px;
	}
	
#OrderCompany, #OrderName, #OrderAddress, #OrderLocality, #OrderProvince, #OrderTelephone, #OrderEmail, #OrderCountry, #OrderDetail {
	width:100%;
	}
	
#OrderPedidoForm >.input.text, #OrderPedidoForm >.input.tel, #OrderPedidoForm >.input.text.required, #OrderPedidoForm > div.input.email.required {
	margin-top:30px;
	margin-bottom:0;
	}
	
#OrderPedidoForm > div:nth-child(9) > label, #OrderPedidoForm > div.input.textarea > label {
	padding-top:0px;
	margin-bottom:0px;
	margin-top:30px
	}
	
#OrderPedidoForm > div.submit > input {
	margin:20px 0 50px 0;
	}
	
.contact h4, .pedido h4 {
	margin-bottom:5px;}
	
#RrhhConsultEnviocvForm > div.col.left {
	width:100%;
	padding:0;
	margin-bottom:10px;
	}
	
#RrhhConsultEnviocvForm > div.col.right {
	padding:0;
	width:100%;
	margin-left:0px;
	}
	
.contact div.col.left {
	width:100%;
	padding:0;
	}
	
.contact div.col.right {
	width:100%;
	padding:0;
	margin-left:0px;
	}
	
.contact form .required {
	height:80px;
	}
	
#MessageSendForm div.col.left div.input.text.required label, #MessageSendForm div.col.left div.input.text label {
	width:80%;
	text-align:left;
	}
	
#RrhhConsultEnviocvForm div.col.left div.input.text label, #RrhhConsultEnviocvForm div.col.left div.input.email label, #RrhhConsultEnviocvForm div.col.right div.input.text label, #RrhhConsultEnviocvForm div.col.right div.input.select label, #RrhhConsultEnviocvForm div.col.right div.input.file label, #RrhhConsultEnviocvForm div.col.left div.input.tel label {
	width:100%;
	height:30px;}
	
#RrhhConsultName, #RrhhConsultAddress, #RrhhConsultLocality, #RrhhConsultProvince, #RrhhConsultTelephone, #RrhhConsultEmail, #RrhhConsultCountry {
	 width:100%;
	 }
	 
#RrhhConsultEnviocvForm > div.col.right > div.input.file > label[for="RrhhConsultCv"] {
	left:0;}
	
#RrhhConsultCv {
	width:100%;
	margin-left:0;}
	
.contact form .submit input {
	margin-top:80px;
	margin-left:0;
	}
	

/**********Contacto **************/

#MessageSendForm div.col.left div.input.text.required input#MessageName, #MessageSendForm div.col.left div.input.text input#MessageCompany, #MessageSendForm div.col.left div.input.text input#MessageAddress, #MessageSendForm div.col.left div.input.text input#MessageLocality, #MessageSendForm div.col.left div.input.text input#MessageProvince, #MessageSendForm div.col.left div.input.text input#MessageCountry, #MessageSendForm div.col.right div.input.tel input#MessageTelephone, #MessageSendForm div.col.right div.input.text input#MessageSubject, #MessageSendForm div.col.right div.input.textarea textarea#MessageMessage, #MessageSendForm div.col.right div.input.email.required input#MessageEmail {
	width:100%;}
	
	
#RrhhConsultEnviocvForm > div.col.right > div.input.file > label[for="RrhhConsultCv"] {
	left:0;
	}

}


/*********************************************************480******************************************************/
@media screen and (max-width:480px) {
	
.container {
	width:300px;
	padding-left:10px;
	padding-right:10px;
	}
	
.header > div.head_up {
	height:130px;}
	
.head_up .nav {
	margin:22px 0 0 0;
	width:100%;
	}
	
.head_up .nav li {
	width:33.3%;
	min-height:35px;
	margin-left:0;
	}
	
.head_up .nav li:first-child {
	margin-left:0;
	}
	
.logo {
	width:280px;
	margin-left:0;
	}

ul.nav li a {
	text-align:center;
	font-size:12px;
	margin:0;
	padding:5px 0 5px 0;
	border:1px solid #003;
	background-color:rgba(32, 112, 171, 1);
	}
	
ul.nav li:nth-child(2) a, ul.nav li:nth-child(3) a {
	padding:13px 0 14px 0;
}
	
ul.nav li a:hover{
	background-color:#07296A;
	color:#FFF;
	}
	
.nav-collapse li {
  width: 100%;
  display: block;
}

.nav_general-inner li a {
	padding:15px 0px 10px 0px !important;
	background-color:#FFF;
	border-bottom:1px solid #CCC;
	font-size:1.1em;
	}
	
.nav_general > div > ul > li > a {
	margin-top:-10px;
	text-align:center;
	}
	
.nav_general > div > ul > li > a:hover {
	transform:none !important;
	}
	
.nav_general > div > ul > li {
	margin-bottom:10px;
	}
	
.nav_general-inner {
	background:none;
	}
	
/*.js .nav-collapse {
  height:330px !important;
}*/

.nav_general > div > ul > li.active > a {
	transform:none !important;
	}
	
.nav_general > div > ul > li:last-child {
	margin-bottom:0;}

.nav_general > div > ul {
	margin:10px 0 0 0;
	padding:0 !important;
	width:100% !important;
	}
	
.nav_general a.nav-toggle {
	width:100% !important;
	text-align:center !important;
	font-family:"Lato", Verdana, sans-serif;
	font-size:1.2em;
	font-weight:700;
	letter-spacing:1px;
	background-color:#1068A7;
	color:#FFF;
	padding:10px 112px;
	}
	
.nav_general-inner {
	margin:10px 0 20px 0 !important;}
	
.header > div.head_up {
	margin-bottom:9px;
	margin-bottom:13px/9;
	}
	
.redes_sociales {
	text-align:center;
	background-color:#FFF;
	}
	
#facebook, #linkedin {
	font-size:3em;
	margin:0px 0 0 10px;
	padding:0;
	}
	
#slider1_container {
	width:280px !important;
	height:200px !important;
	
	}

#slider1_container div{
	width:280px !important;
	height:200px !important;
	background-color:#FFF;
	overflow:hidden;
	}
	
#slider1_container div img{
	max-width:150% !important;
	height:100%; !important;
	margin-left:-20%;
	}
	
.ws_shadow{
	top:200px;
	}

#slider1_container span {
	top:75px !important;
	}

.plast_acer {
	display:none;
	}
	
/*** contentdestacados ***/

._product_hightlighted.clearfix div.content_prod {
	width:280px;
	padding-left:10px;
	padding-right:10px;
	background:#FFF;
	height:230px;
	box-shadow: 0px 5px 5px #CCC;
	margin-left:10px;
	}
._product_hightlighted.clearfix div.product_item {
	width:290px;
	}
	
.noti_home #destacado {
	width:280px;
	height:130px;
	margin-left:0px;
	margin-right:0px;
	padding:0;
	}
	
._product_hightlighted.clearfix > div > div:nth-child(1) > a, ._product_hightlighted.clearfix > div > div:nth-child(2) > a, ._product_hightlighted.clearfix > div > div:nth-child(3) > a {
	width:210px !important;
	}
	
._product_hightlighted.clearfix > div > div:nth-child(1) > div.mas_info > a, ._product_hightlighted.clearfix > div > div:nth-child(2) > div.mas_info > a, ._product_hightlighted.clearfix > div > div:nth-child(3) > div.mas_info > a {
	margin-right:10px;}
	
._product_hightlighted.clearfix > div > div:nth-child(1) > div.imagen_prod > table > tbody > tr > td > a > img, ._product_hightlighted.clearfix > div > div:nth-child(2) > div.imagen_prod > table > tbody > tr > td > a > img, ._product_hightlighted.clearfix > div > div:nth-child(3) > div.imagen_prod > table > tbody > tr > td > a > img {
	padding-left:0px;
	}
	
._product_hightlighted.clearfix > div > div:nth-child(2) > div.imagen_prod > table > tbody > tr > td > a > img, ._product_hightlighted.clearfix > div > div:nth-child(3) > div.imagen_prod > table > tbody > tr > td > a > img {
	display:none;
	}
	
.noti_home #destacado .prod_nombre {
	width:135px;
	margin-right:0px;
	font-size:16px;
	}
	
.imagen_producto {
	float:right;
	}
	

	
.intra_frase {
	width:100%;
	}
	
.intra_frase a img {
	width:300px;
	margin-left:0 !important;
	padding-right:10px;
	}
	
.intra_frase #newsletter {
	width:280px;
	}
	
#search-box {
	width:280px;
	padding:0;
	margin-left:0;
	}

#NewsletterUserEmail {
	width:168px;
	}
	
.news_tit {
	width:280px;}
	
#pagos {
	display:none;
	}
	
.int_footer {
	width:300px;
	}
	
.footer > div > div.col_1, .footer > div > div.col_2, .footer > div > div.col_3 {
	width:100%;
	padding:0 30px !important;
	}
	
.footer {
	height:570px;
	background:#204193 !important;
	}
	
#info_footer {
	padding:0 30px;
	text-align:center;}
	
#info_footer article {
	margin-left:0;
	}
	
#info_footer a {
	margin: 20px 0 0 0;
	text-align:center;
	width:100%;
	color:#D38700;
	}
	
	



/******* Institucional ***************/

#institucional {
	width:280px;
	}

#institucional #imagen_institucional {
	width:280px;
	height:auto;
	overflow:hidden;
	}
	
#institucional #imagen_institucional img {
	max-width:160%;
	height:100%;
	display:block;
	margin-left:-100px;
	}
	
#institucional #texto_institucional {
	width:280px;
	}
	
#columna01, #columna02 {
	width:100%;
	font-size:1.1em;
	}



/*********** Productos ***************/

.intro_productos {
	width:280px;
	margin:0;
	}
	
.intro_productos h3 {
	width:280px;
	}

#productos_right {
	width:99%;
	float:none;
	}
	
#productos_left {
	width:99%;
	float:none;
	}

.down {
	margin-top:0px;
	}
	

/*********** Productos Ampliacion***************/

#breadcrumbs {
	display:none;
	}
	
.productos {
	width:280px;
	}
	
.productos .product_index {
	width:280px;
	margin:0;
	}
	
.productos .product_index h3{
	width:280px;
	}
.productos .pagination {
	width:280px;
	}

.product_index.clearfix > div.product_item {
	width:99%;
	margin:0 8px 8px 0;
	}
	
.product_item .imagen_prod {
	height:175px;
	}
	
.product_index.clearfix > div.product_item {
	height:286px;
	}

	
.productos > div.product_index.clearfix > div.product_item > a.prod_nombre {
	text-align:center;
	font-size:1.1em;
	height:55px;
	overflow:hidden;
	}
	
#container-g > div > div.productos > div.product_index.clearfix > div > div.mas_info > a{
	margin-top:10px;
	float:left;
	margin-right:0px;
	margin-left:4px;
	width:97%;
	background-color:#00519A;
	text-align:center;
	font-size:1.2em;
	}
	

/*********** Producto ampliacion de producto ***********/
.productos #product_view {
	width:280px;
	margin:0;
	}
	
.html_text {
	font-size:1.1em;
	line-height:1.3em;}
	
#topnav > li > ul > li > a {
	font-size:1.2em;
	}
	
#topnav > li > ul > li > ul > li > a, #topnav > li > ul > li > ul > li > ul > li > a {
	font-size:1.2em;
	height:23px;
	}
	
.productos #product_view h1 {
	max-width:280px;
	}

#product_view > div.consultar_producto > a {
	margin-top:20px;
	margin-bottom:40px;
	}
	
#product_view > div._img_main {
	height:240px;
	overflow:hidden;
	}
	
	
/********Comercio exterior *******/
#imagen_institucional iframe {
	height:250px;
	}
	
	

/*********** Noticias ********************/
.index-posts {
	width:280px;
	}
	
.index-posts > .index-post.clearfix {
	width:100%;
	padding:0;
	margin:5px 0px;
	}
	
.index-post.clearfix div.index-post p.index-date {
	margin-top:-142px;
	font-size:0.9em;
	padding:5px;
	height:25px;
	width:80px;
	}



/*********** Ampliacion de nota *************/

	
.imagen_noti {
	width:99%;
	height:150px;
	margin-bottom:10px;
	margin-top:30px;
	padding-top:0;
	
	border: 1px solid #cdcdcd;
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(244,244,244,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=1 );
	}
	
.imagen_noti img {
	height:90% !important;
	width:auto !important;
	background:none;
	border:none;
	margin:auto;
	display:block;
	padding-top:20px;
	}
	
.all_noti .gallery {
	width:100%;
	margin-left:0;
	}
	
.all_noti .html_text {
	width:100%;
	min-height:50px;
	padding-top:8px;
	margin-bottom:20px;
	font-size:1.1em;
	line-height:1.3em;
	}
	
.all_noti > ul > li > a {
	width:45%;
	margin:5px 5px;
	}
	
.all_noti .gallery {
	min-height:100px !important;
	margin-bottom:50px;
	}
	
#fecha_red > div.social_share {
	width:280px;}
	
.all_noti > h1 {
	padding:23px 12px 21px 12px !important;
	line-height:1.3em;}
	


/************Distribuidores ***********/

#index_distri {
	width:280px;
	margin-bottom:75px;
	}

#index_distri ._html_text iframe {
	width:100%;
	}
	
	

	
/**************** Pedidos **********/
.contact, #container-g > div > div.pedido {
	width:280px;
	}
	
#OrderPedidoForm {
	width:100%;
	padding:0;
	}
	
#OrderPedidoForm > div:nth-child(2) > label, #OrderPedidoForm > div:nth-child(3) > label, #OrderPedidoForm > div:nth-child(4) > label, #OrderPedidoForm > div:nth-child(5) > label, #OrderPedidoForm > div:nth-child(6) > label, #OrderPedidoForm > div.input.tel > label, #OrderPedidoForm > div.input.email.required > label, #OrderPedidoForm > div:nth-child(9) > label, #OrderPedidoForm > div.input.textarea > label {
	float:left;
	width:100%;
	text-align:left;
	height:30px;
	}
	
#OrderCompany, #OrderName, #OrderAddress, #OrderLocality, #OrderProvince, #OrderTelephone, #OrderEmail, #OrderCountry, #OrderDetail {
	width:100%;
	}
	
#OrderPedidoForm >.input.text, #OrderPedidoForm >.input.tel, #OrderPedidoForm >.input.text.required, #OrderPedidoForm > div.input.email.required {
	margin-top:30px;
	margin-bottom:0;
	}
	
#OrderPedidoForm > div:nth-child(9) > label, #OrderPedidoForm > div.input.textarea > label {
	padding-top:0px;
	margin-bottom:0px;
	margin-top:30px
	}
	
#OrderPedidoForm > div.submit > input {
	margin:20px 0 50px 0;
	}
	
.contact h4, .pedido h4 {
	margin-bottom:5px;}
	
#RrhhConsultEnviocvForm > div.col.left {
	width:100%;
	padding:0;
	margin-bottom:10px;
	}
	
#RrhhConsultEnviocvForm > div.col.right {
	padding:0;
	width:100%;
	margin-left:0px;
	}
	
.contact div.col.left {
	width:100%;
	padding:0;
	}
	
.contact div.col.right {
	width:100%;
	padding:0;
	margin-left:0px;
	}
	
.contact form .required {
	height:80px;
	}
	
#MessageSendForm div.col.left div.input.text.required label, #MessageSendForm div.col.left div.input.text label {
	width:80%;
	text-align:left;
	}
	
#RrhhConsultEnviocvForm div.col.left div.input.text label, #RrhhConsultEnviocvForm div.col.left div.input.email label, #RrhhConsultEnviocvForm div.col.right div.input.text label, #RrhhConsultEnviocvForm div.col.right div.input.select label, #RrhhConsultEnviocvForm div.col.right div.input.file label, #RrhhConsultEnviocvForm div.col.left div.input.tel label {
	width:100%;
	height:30px;}
	
#RrhhConsultName, #RrhhConsultAddress, #RrhhConsultLocality, #RrhhConsultProvince, #RrhhConsultTelephone, #RrhhConsultEmail, #RrhhConsultCountry {
	 width:100%;
	 }
	 
#RrhhConsultEnviocvForm > div.col.right > div.input.file > label[for="RrhhConsultCv"] {
	left:0;}
	
#RrhhConsultCv {
	width:100%;
	margin-left:0;}
	
.contact form .submit input {
	margin-top:80px;
	margin-left:0;
	}
	

/**********Contacto **************/

#MessageSendForm div.col.left div.input.text.required input#MessageName, #MessageSendForm div.col.left div.input.text input#MessageCompany, #MessageSendForm div.col.left div.input.text input#MessageAddress, #MessageSendForm div.col.left div.input.text input#MessageLocality, #MessageSendForm div.col.left div.input.text input#MessageProvince, #MessageSendForm div.col.left div.input.text input#MessageCountry, #MessageSendForm div.col.right div.input.tel input#MessageTelephone, #MessageSendForm div.col.right div.input.text input#MessageSubject, #MessageSendForm div.col.right div.input.textarea textarea#MessageMessage, #MessageSendForm div.col.right div.input.email.required input#MessageEmail {
	width:100%;
	}
	
	
#acc_img1 {
	display:none;
	}
	
#acc_img2 {
	display:block !important;
	}

}




