﻿
.modal-footer {
    text-align:left
  }
  .modal-control {
      border:0;
      background:#067dd1;
      padding:10px 15px;
      position: absolute;
      top: 45%;
    color:#fff;
  }
  .modal-control i {
      color:#fff;
  }
  .modal-control.next {
      float:right;
      right:15px
  }
  .modal-control.previous {
      float:left;
      left:15px
  }
  .img-responsive
  {
      height: 300px;
      width: 300px;
      margin: 10px;
  }