<div class="container">
  <h3>{{title}} Producto</h3>
  <hr />


  <form [formGroup]="formGroup" #formDir="ngForm" novalidate accept-charset="UTF-8">
    <tabset>
      <tab heading="Maquinaria" id="tab1">
        <input type="hidden" id="id" formControlName="id">

        <div class="form-group">
          <label>Material</label>
          <select class="form-control"
          (change)="onSelect($event.target.value)"
           formControlName="materialId">
            <option *ngFor="let item of tipoMateriales" value={{item.id}}>
              {{item.nombre}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Tipo</label>
          <select class="form-control" formControlName="tipoId">
            <option *ngFor="let item of tipos" value={{item.id}}>
              {{item.nombre}}
            </option>
          </select>
        </div>

      <div class="form-group">
          <label>Equipo</label>
          <input type="text" formControlName="nombre" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
          <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">Nombre requerido</div>
          </div>
        </div>
<!-- 
        <div class="form-group">
          <label>Modelo</label>
          <input type="text" formControlName="modelo" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.modelo.errors }" />
          <div *ngIf="submitted && f.modelo.errors" class="invalid-feedback">
            <div *ngIf="f.modelo.errors.required"> requerido</div>
          </div>
        </div> -->

        <!-- <div class="form-group">
          <label>Estado de la Maquina</label>
          <select class="form-control" formControlName="estado">
            <option *ngFor="let item of tipoMaquinarias" value={{item.id}}>
              {{item.nombre}}
            </option>
          </select>
        </div> -->

        <div class="form-group">
          <label>Descripción corta</label>
          <input type="text" formControlName="descripcionCorta" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
          <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.descripcionCorta.errors.required">Título requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Descripción</label>
          <ckeditor formControlName="descripcion" [config]="ckeConfig" debounce="500" name="myckeditor">
          </ckeditor>
        </div>

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="activo"
              [ngClass]="{ 'is-invalid': submitted && f.activo.errors }">
            <label class="form-check-label" for="gridCheck">
              Activa
            </label>
            <div *ngIf="submitted && f.activo.errors" class="invalid-feedback">
              <div *ngIf="f.activo.errors.required">*</div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label>Idioma</label>
          <select class="form-control" formControlName="idiomaId">
            <option *ngFor="let item of idiomas" value={{item.id}}>
              {{item.nombre}}
            </option>
          </select>
        </div>


        <div class="form-group">
          <label>Link del Manual interna</label>
          <input type="text" formControlName="urlManual" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.urlManual.errors }" />
        </div>


        <div class="form-group">
          <label>Link del Manual para el Cliente</label>
          <input type="text" formControlName="urlPublicaManual" class="form-control" readonly
            [ngClass]="{ 'is-invalid': submitted && f.urlPublicaManual.errors }" />
        </div>


        <div class="form-group">
          <div class="row" style="margin-top: 50px;">
            <label for="imageSelector">Subir Folleto:</label>
            <div class="col-4" style="margin-top: 20px;">
              <input type="file" class="form-control-file" id="docFolleto" (change)="fileProgress($event)">
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-8">
                  <label>Folleto disponible:</label>
                  <input type="text" formControlName="urlFolleto" class="form-control" readonly
                    [ngClass]="{ 'is-invalid': submitted && f.urlFolleto.errors }" />
                </div>
                <div class="col-4" style="margin-top: 35px;">
                  <button *ngIf="urlFolleto" (click)="onDownload('Folleto')" class="btn btn-outline-success btn-sm">
                    Descargar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div *ngIf="loading">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <div *ngIf="!loading" class="form-group">
          <button type="submit" class="btn btn-outline-primary" (click)="onSubmit()">Guardar</button>
          <button class="btn btn-outline-primary" (click)="cancel()">Cancelar</button>
        </div>
      </tab>


      <tab heading="Galeria de Fotos" >

        <div class="row">
          <div class="col-lg-12" style="margin-top: 10px; margin-left: 75%;">
           <button type="submit" class="btn btn-outline-success btn-sm" (click)="onSubmitNew()">Confirmar Equipo</button>
         </div>
        </div>


        <div class="row">
          <div class="col-lg-12" style="margin-top: 10px;">
            <app-upload [id]="id" [master]="master" (onUploadFinished)="uploadFinished($event)"></app-upload>
          </div>
        </div>



        <div class="row">

          <div class="col-lg-4" *ngFor="let item of images">

            <img class="img-responsive" src="{{ item.imagen }}" alt="{{ item.nombre }}">
            <br>
            <div class="row">
              <div class="col-lg-4">
                <div *ngIf="item.principal==1">
                  <b>Portada</b>
                </div>
                <div *ngIf="item.principal==0">
                  <b>Galería</b>
                </div>
              </div>
              <div class="col-lg-8">
                <button class="btn btn-outline-danger btn-sm" (click)="eliminarFoto(item.id)">Eliminar</button>

                <button class="btn btn-outline-success btn-sm" (click)="marcarPrincipal(item.id)"> Portada</button>
              </div>
            </div>
          </div>
        </div>


      </tab>

    </tabset>


  </form>
</div>
