<div class="container">
    <div class="row">
      <div class="col">
        <h3>Eventos</h3>
      </div>
      <div class="col text-right">
        <button [routerLink]="'/evento/nuevo'" type="button" name="button" class="btn btn-secondary">Nuevo</button>
      </div>
    </div>
  
    <hr />
  
    <div class="form-group row">
      <div class="col-md-6">
        <input class="form-control" type="text" placeholder='Buscar Eventos' >
      </div>
    </div>
  
    <div *ngIf="loading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  
    <ngx-datatable *ngIf="!loading" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [limit]="10" [rowHeight]="'auto'">
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>Fecha</ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.fecha}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>Evento</ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.nombre}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>Idioma</ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.idioma.nombre}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>Status</ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span *ngIf="row.activo">Activa</span>
          <span *ngIf="!row.activo">Inactiva</span>
        </ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Id">
        <ng-template let-column="column" ngx-datatable-header-template></ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <button [routerLink]="['/evento', value]" type="button" name="button" class="btn btn-outline-success btn-sm">Editar</button>
          <button [routerLink]="" (click)="delete(value)" type="button" name="button" class="btn btn-outline-danger btn-sm">Eliminar</button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
