<div class="container">
  <h3>{{title}} Categoría</h3>
  <hr />
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" #formDir="ngForm" novalidate accept-charset="UTF-8">

    <input type="hidden" id="id" formControlName="id">

    <div class="form-group">
      <label>Categoría </label>
      <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
      <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
        <div *ngIf="f.nombre.errors.required">Nombre requerido</div>
      </div>
    </div>

    
    <div class="form-group">
      <label>Material</label>
      <select class="form-control" formControlName="materialId">
        <option *ngFor="let item of tipoMateriales" value={{item.id}}>
          {{item.nombre}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Descripción</label>
      <ckeditor formControlName="descripcion" [config]="ckeConfig" debounce="500" name="myckeditor">
      </ckeditor>
    </div>

    
    
    <div class="form-group">
      <label>Idioma</label>
      <select class="form-control" formControlName="idiomaId">
        <option *ngFor="let item of idiomas" value={{item.id}}>
          {{item.nombre}}
        </option>
      </select>
    </div>


    <div *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf="!loading" class="form-group">
      <button type="submit" class="btn btn-outline-primary">Guardar</button>
      <button class="btn btn-outline-primary" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</div>
