<div class="container">
  <div class="row">
    <div class="col">
      <h3>Contactos</h3>
    </div>
    <div class="col text-right">
      <button (click)="exportAsXLSX()" type="button" name="button" class="btn btn-secondary">Descargar</button>
    </div>
  </div>

  <hr />

  <div class="form-group row">
    <div class="col-md-6">
      <input class="form-control" type="text" placeholder='Buscar Contactos' (keyup)='updateFilter($event)'>
    </div>
  </div>

  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <ngx-datatable *ngIf="!loading" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [limit]="10" [rowHeight]="'auto'">
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>Fecha</ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.fecha | date: 'dd/MM/yyyy'}}</ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>Asunto</ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.asunto}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>Mensaje</ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.descripcion}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>Usuario</ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span>Firma:</span>   {{row.usuario.firma}} <br />
        <span>CUIT:</span>   {{row.usuario.cuit}} <br />
        <span>Tel:</span> {{row.usuario.telefono}}<br />
        <span>Email:</span> {{row.usuario.email}}
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>
