<div class="container text-center">
  <img class="logo" src="./assets/images/logo-bb-blanco.png" style="margin: 30px">
   <alert></alert> 
  <div class="signin-content" >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style=" text-align: center;">
      <div class="form-group" >
        <input type="text" formControlName="username" class="form-control form-control-lg" placeholder="Usuario" 
       
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback text-left text-white">
          <div *ngIf="f.username.errors.required">Usuario requerido</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" formControlName="password" class="form-control form-control-lg" 
        placeholder="Contraseña" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-left text-white">
          <div *ngIf="f.password.errors.required">Contraseña requerida</div>
        </div>
      </div>
      <div class="form-group">
        <button *ngIf="!loading" class="btn btn-primary btn-block btn-lg" >INGRESAR</button>
        <div *ngIf="loading" class="spinner-border" role="status">
          <span class="sr-only">Cargando...</span>
        </div>
      </div>
    </form>
  </div>
</div>
