<header>
  <nav class='navbar navbar-expand-lg navbar-dark bg-dark mb-4'>
    <span class="navbar-brand">
      <img src="./assets/images/logo-bb-blanco.png" height="30" class="d-inline-block align-top" alt="">
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]='{"show": isExpanded}'>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link" [routerLink]='["/novedades"]'>Noticias</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link" [routerLink]='["/eventos"]'>Eventos</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link" [routerLink]='["/servicecaps"]'>ServiceCap</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link" [routerLink]='["/tipomaquinarias"]'>Categorías</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link" [routerLink]='["/tipomateriales"]'>Tipos de producto</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link" [routerLink]='["/maquinarias"]'>Productos</a>
        </li>
       
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link" [routerLink]='["/usuarios"]'>Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" href="#">Salir</a>
        </li>
      </ul>
     
     
      <span class="navbar-text">
        {{user.username}}
      </span>
    </div>
  </nav>
</header>



