﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="confirm_producto.aspx.cs" Inherits="ClienteBB.FrontEnd.confirm_producto" MasterPageFile="~/Site1.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
        <div class="banner banner_equipos">
  <div class="container">
    <h2>PRODUCTOS</h2>
  </div>
</div>
    <div class="section blanco">
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 centrado_vertical">
    <div class="centrar">
    <h1 class="titulo">CONSULTA POR PRODUCTOS</h1>
    <h3>Recibimos tu consulta, nos contactaremos a la brevedad para brindarte toda la información.</h3>
  
    </div>
  </div>
  
</div>
  </div>
        </asp:Content>