﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="ManualUsuario.aspx.cs" Inherits="ClienteBB.FrontEnd.ManualUsuario" %>

<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="Server">
 <link rel="stylesheet" href="/css/lightbox.min.css">
    </asp:Content>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="container">
        <h2>Manual de Usuario</h2>
    </div>

    <div class="article">
        <div class="container">
                 <asp:PlaceHolder ID="iframeDiv" runat="server"/>
          <%--  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 empresa_item">
                <iframe id="myIframe"  runat="server" ></iframe>
              
            </div>--%>

        </div>
    </div>

</asp:Content>
