﻿<div class="container">
    <h3>{{title}} Service Cup</h3>
    <hr />
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" #formDir="ngForm" novalidate accept-charset="UTF-8">
  
      <input type="hidden" id="id" formControlName="id">
  
      <div class="form-group">
        <label>Service Cup</label>
        <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
          <div *ngIf="f.nombre.errors.required">Nombre requerido</div>
        </div>
      </div>

      <div class="form-group">
        <label>Descripción</label>
        <input type="text" formControlName="descripcionCorta" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.descripcionCorta.errors }" />
        <div *ngIf="submitted && f.descripcionCorta.errors" class="invalid-feedback">
          <div *ngIf="f.descripcionCorta.errors.required">Nombre requerido</div>
        </div>
      </div>

      <div class="form-group">
        <label>Dirección</label>
        <input type="text" formControlName="direccion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }" />
        <div *ngIf="submitted && f.direccion.errors" class="invalid-feedback">
          <div *ngIf="f.direccion.errors.required">Dirección requerido</div>
        </div>
      </div>

      <div class="form-group">
        <label>Provincia</label>
        <select class="form-control" formControlName="provincia">
          <option *ngFor="let item of provincias" value={{item.id}}>
            {{item.nombre}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="activo" [ngClass]="{ 'is-invalid': submitted && f.activo.errors }">
          <label class="form-check-label" for="gridCheck">
            Activa
          </label>
          <div *ngIf="submitted && f.activo.errors" class="invalid-feedback">
            <div *ngIf="f.activo.errors.required">*</div>
          </div>
        </div>
      </div>
  
  
      <div class="form-group">
        <label>Idioma</label>
        <select class="form-control" formControlName="idiomaId">
          <option *ngFor="let item of idiomas" value={{item.id}}>
            {{item.nombre}}
          </option>
        </select>
      </div>
  
  
      <div class="form-group">
        <label>Datos de Contacto</label>
        <ckeditor formControlName="descripcion"
                  [config]="ckeConfig"
                  debounce="300"
                  name="myckeditor">
        </ckeditor>
      </div>
    
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Latitud</label>
          <div class="input-group">
            <input type="text" formControlName="latitud" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.latitud.errors }" />
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Longitud</label>
          <div class="input-group">
          <input type="text" formControlName="longitud" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.longitud.errors }" />
          </div>
        </div>
      </div>
  
      <div *ngIf="loading">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!loading" class="form-group">
        <button type="submit" class="btn btn-outline-primary">Guardar</button>
        <button class="btn btn-outline-primary" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
  