<div class="row" style="margin-bottom:15px;">
  <div class="col-lg-6">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">

    <button class="upload"  (click)="file.click()()">
        Upload File
      </button>
  </div>
  <div class="col-lg-6">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
  <br> <br>
  <div *ngIf="fileName">
      <button   (click)="downloadFile()">
          {{fileName}}
        </button>

 </div>

</div>
