<div class="container">
  <h3>{{title}} Empresa</h3>
  <hr />
  <form [formGroup]="registerForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

   


      <input type="hidden" id="descripcion" formControlName="id">

      <div class="form-group">
        <label>Firma</label>
        <input type="text" formControlName="firma" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.firma.errors }" />
        <div *ngIf="submitted && f.firma.errors" class="invalid-feedback">
          <div *ngIf="f.firma.errors.required">*</div>
        </div>
      </div>

      <div class="form-group">
        <label>CUIT</label>
        <input type="text" formControlName="cuit" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.cuit.errors }" />
        <div *ngIf="submitted && f.cuit.errors" class="invalid-feedback">
          <div *ngIf="f.cuit.errors.required">*</div>
        </div>
      </div>

      <div class="form-group">
        <label>Persona de Contacto</label>
        <input type="text" formControlName="nombre" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
          <div *ngIf="f.nombre.errors.required">*</div>
        </div>
      </div>

      <div class="form-group">
        <label>Télefono</label>
        <input type="text" formControlName="telefono" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" />
        <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
          <div *ngIf="f.telefono.errors.required">*</div>
        </div>
      </div>

      <div class="form-group">
        <label>Dirección</label>
        <input type="text" formControlName="direccion" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }" />
        <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
          <div *ngIf="f.direccion.errors.required">*</div>
        </div>
      </div>

      <div class="form-group">
        <label>Número</label>
        <input type="text" formControlName="numero" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.numero.errors }" />
        <div *ngIf="submitted && f.numero.errors" class="invalid-feedback">
          <div *ngIf="f.numero.errors.required">*</div>
        </div>
      </div>

      <div class="form-group">
        <label>Localidad</label>
        <select class="form-control" formControlName="localidadId">
          <option *ngFor="let model of localidades" value={{model.id}}>
            {{model.nombre}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">*</div>
        </div>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="text" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">*</div>
        </div>
      </div>


      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="activo"
               [ngClass]="{ 'is-invalid': submitted && f.activo.errors }">
        <label class="form-check-label">
          Cliente Activo
        </label>
        <div *ngIf="submitted && f.activo.errors" class="invalid-feedback">
          <div *ngIf="f.activo.errors.required">*</div>
        </div>
      </div>
      <br />

      <div *ngIf="loading">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Guardar</button>
        <button class="btn btn-outline-primary" (click)="cancel()">Cancelar</button>
      </div>

</form>
</div>
