


<h1>{{title}}</h1>
<h3>Rol</h3>
<hr />
<form [formGroup]="registerForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

  <input type="hidden" id="id" formControlName="id">


  <div class="form-group">
    <label>Nombre</label>
    <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
    <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
      <div *ngIf="f.nombre.errors.required">*</div>
    </div>
  </div>


  <div class="form-group">
    <button type="submit" class="btn btn-outline-primary btn-sm">Guardar</button>
    <button class="btn btn-outline-info btn-sm" (click)="cancel()">Cancelar</button>
  </div>
</form>
