<div class="container">
  <div class="row">
    <div class="col">
      <h3>Tipo de Roles</h3>
    </div>
    <div class="col text-right">
      <button [routerLink]="'/rol/nuevo'" type="button" name="button" class="btn btn-secondary">Nuevo</button>
    </div>
  </div>
  
  <hr />

  <div class="form-group row">
    <div class="col-md-6">
      <input class="form-control" type="text"
             placeholder='Buscar Roles'
             (keyup)='updateFilter($event)'>
    </div>
  </div>

  <ngx-datatable class="material"
                 [rows]="rows"
                 [columnMode]="'force'"
                 [headerHeight]="50"
                 [footerHeight]="50"
                 [limit]="10"
                 [rowHeight]="'auto'">
    <ngx-datatable-column name="Id">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{value}}</strong>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nombre">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span>{{column.name}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Id">
      <ng-template let-column="column" ngx-datatable-header-template>
        #
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <button [routerLink]="['/rol', value]"
                type="button" name="button" class="btn btn-outline-success btn-sm">
          Editar
        </button>
        <button [routerLink]="" (click)="delete(value)"
                type="button" name="button" class="btn btn-outline-danger btn-sm">
          Eliminar
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
