<div class="container">
  <div class="row">
    <div class="col">
      <h3>Productos</h3>
    </div>
  </div>


  
  <form [formGroup]="formGroup" #formDir="ngForm" novalidate accept-charset="UTF-8">


  <div class="form-group row">
    <div class="col-md-6">
      <select class="form-control" formControlName="tipoId">
        <option *ngFor="let item of tipos" value={{item.id}} >
          {{item.nombre}}
        </option>
      </select>
    </div>

    <div class="col-md-2">
      <input class="form-control" type="text" placeholder='Buscar' (keyup)='updateFilter($event)'>
    </div>

    <div class="col-md-2">
      <button  type="button" name="button" (click)='getByTipo()'  class="btn btn-secondary">Buscar</button>
    </div>

    <div class="col-md-2">
      <button [routerLink]="'/maquinaria/nuevo'" type="button" name="button" class="btn btn-secondary">Nuevo</button>
    </div>
  </div>

  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <ngx-datatable *ngIf="!loading" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [limit]="10" [rowHeight]="'auto'">
   
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>Id</ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.id }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>Tipo</ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.tipoMaquina }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>Material</ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.tipoMaterial }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>Maquina</ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.nombre}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>Modelo</ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.modelo}}</ng-template>
    </ngx-datatable-column>


    

    <ngx-datatable-column name="Id">
      <ng-template let-column="column" ngx-datatable-header-template></ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <button [routerLink]="['/maquinaria', value]" type="button" name="button" class="btn btn-outline-success btn-sm">Editar</button>
        <button [routerLink]="" (click)="delete(value)" type="button" name="button" class="btn btn-outline-danger btn-sm">Eliminar</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

</form>

