<div class="container">
  <h3>{{title}} novedad</h3>
  <hr />


  <form [formGroup]="formGroup" #formDir="ngForm" novalidate accept-charset="UTF-8">
    <tabset>
      <tab heading="Novedad" id="tab1">
        <input type="hidden" id="id" formControlName="id">



        <div class="form-group">
          <label>Título</label>
          <input type="text" formControlName="nombre" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
          <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">Título requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Descripción corta</label>
          <input type="text" formControlName="descripcionCorta" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
          <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.descripcionCorta.errors.required">Título requerido</div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Fecha Desde</label>
            <div class="input-group">
              <input type="date" formControlName="fecha_Desde_Notificacion" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.fecha_Desde_Notificacion.errors }" />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Fecha Hasta</label>
            <div class="input-group">
              <input type="date" formControlName="fecha_Hasta_Notificacion" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.fecha_Hasta_Notificacion.errors }" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="activo"
              [ngClass]="{ 'is-invalid': submitted && f.activo.errors }">
            <label class="form-check-label" for="gridCheck">
              Activa
            </label>
            <div *ngIf="submitted && f.activo.errors" class="invalid-feedback">
              <div *ngIf="f.activo.errors.required">*</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Descripción</label>
          <ckeditor formControlName="descripcion" [config]="ckeConfig" debounce="500" name="myckeditor">
          </ckeditor>
        </div>


<!-- 
        <div class="form-group">
          <label for="imageSelector">Imagen</label>
          <input type="file" class="form-control-file" id="imageSelector" (change)="onSelectFile($event)">
        </div>

        <div class="text-center">
          <img *ngIf="url" [src]="url" alt="..." style="max-height: 200px">
        </div> -->


        <div class="form-group">
          <label>Idioma</label>
          <select class="form-control" formControlName="idiomaId">
            <option *ngFor="let item of idiomas" value={{item.id}}>
              {{item.nombre}}
            </option>
          </select>
        </div>

        <div *ngIf="loading">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <div *ngIf="!loading" class="form-group">
          <button type="submit" class="btn btn-outline-primary" (click)="onSubmit()">Guardar</button>
          <button class="btn btn-outline-primary" (click)="cancel()">Cancelar</button>
        </div>


      </tab>


      <tab heading="Galeria de Fotos">
     
        <div class="row">
            <div class="col-lg-12" style="margin-top: 10px;">
              <app-upload [id]="id" [master]="master" (onUploadFinished)="uploadFinished($event)"></app-upload>
             </div>
          
        </div>



        <div class="row">

          <div class="col-lg-4" *ngFor="let item of images">

            <img class="img-responsive" src="{{ item.imagen }}" alt="{{ item.nombre }}">
            <br>
          <div class="row">
              <div class="col-lg-4">
                <div *ngIf="item.principal==1" >
                  <b>Portada</b>
                </div>
                <div *ngIf="item.principal==0">
                  <b>Galería</b>
                </div>
              </div>
              <div class="col-lg-8">
                <button class="btn btn-outline-danger btn-sm" (click)="eliminarFoto(item.id)">Eliminar</button>

                <button class="btn btn-outline-success btn-sm" (click)="marcarPrincipal(item.id)"> Portada</button>
              </div>
            </div>
          </div>
        </div>

      </tab>

    </tabset>


  </form>
</div>